<div class="container my-3">
    <!-- Nombre de la sección -->
    <div class="row">
        <div class=" col-md-6 sm-3 ">
            <div class="custom-container">
              <img class="custom-img" src="../../../assets/imgs/logos/logoesculta.png" alt="esculta"><h1>Escolta</h1>
            </div>
        </div>
        <div class="col-md-6">
          <div class="custom-container">
            <h2>¿Qué es l'Escolta?</h2>
            Som l'Escolta, una secció formada per xics i xiques d'entre <b>15 i 18 anys</b>. Realitzems activitats a
                la
                ciutat, acampades, excursions, viatges i projectes.
                <p> agrada divertir-nos, eixir junts, perè també realitzem serveis per a ajudar als demés. Tractem
                    de combinar el pasar-ho be amb ser un eixemple de bons ciutadans per a la resta de scouts del Grup.
                </p>
          </div>
        </div>
    </div>

    <!-- Texto de la sección -->
    <div class="row my-3">
        <div class="col-12">
            <div class="custom-container">
                

                <h2><p><b>El projecte Escolta:</b></p></h2>
                <p>El projecte Escolta és la nostra forma de funcionar. Les activitats que fem son proposades,
                    definides i triades por nosaltres mateixos. No ens limitem a fer l'activitat, som ja capaços de
                    preparar-la. Així es preten que els escoltes aprenguen a fer activitats i a implicar-se en ser part
                    d'un equip de joves amb objectius comuns. Moltes de las habilitats adquirides pels escoltes en este
                    procès son aplicables a seua vida estudiantil, familiar...</p>

                <p>El nostre lema - <b>ESCOLTA, SEMPRE UNIDA</b></p>

            </div>
        </div>
    </div>
    <div class="row my-3 ">
        <div class="col-12">
          <div class="p-3 border bg-light">
            <div id="carouselExampleControls" class="carousel slide col-lg-10 col-md-10 col-sm-10 offset-1">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="../../../assets/imgs/scouts/esculta/esculta1.jpg" class="d-block h-100 w-100" alt="foto del grupo de esculta">
                </div>
                <div class="carousel-item">
                  <img src="../../../assets/imgs/scouts/esculta/esculta2.jpg" class="d-block h-100 w-100" alt="foto del grupo de esculta">
                </div>
                <div class="carousel-item">
                  <img src="../../../assets/imgs/scouts/esculta/esculta3.jpg" class="d-block h-100 w-100" alt="foto del grupo de esculta">
                </div>
              </div>
              <button id="botAv" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">ANTERIOR</span>
              </button>
              <button id="botDe" class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">SIGUIENTE</span>
              </button>
            </div>
          </div>
        </div>
</div>