
    <div class="container my-3">
        <!-- Nombre de la sección -->
        <div class="row">
            <div class=" col-md-12 sm-3 ">
                <div class="custom-container" style="text-align: center;">
                    <h1>Clan</h1>
                </div>

            </div>
        </div>



        <!-- Texto de la sección -->
        <div class="row my-3">
            <div class="col-12">
                <div class="custom-container">
                    Som un grup de gent jove, majors de 18 anys. El nostre lema és el SERVEI als demés, i el nostre principal repte, conseguir divertir-nos i al mateix temps ajudar a fer un mon millor.
                      Ens juntem, generalment els dissabtes de mati, tot i que no tenim un horari fixe, perque depenem de les activitats que tingam previstes
                      
                      Entre tots proposem, triem i preparem les nostres activitats, mitjançant Assamblees democràtiques i la divissió de la feina per a preparar els projectes. Per a reduir el preu de les activitats preparem formes d'autofinanciació. Algunes de les actividades que hem fet son:
                      
                      D'Aventura: espeleología, barranquisme, rafting.
                      A la natura: senderisme, acampades, reforestacions.
                      De grupo: viatges per Espanya i Europa, dinámiques, picnics.
                      Serveis: festivals benèfics de teatre, ajuda a col·lectius desfavorits, recolzament a centres d'animal abandonats.
                      També al Clan pots formar-te com a monitor de temps lliure infantil i fer pràctique amb el nostre equip de scouters del Grup Scout així com participar en les seues activitats. Facilitem i tutoritzem les pràctiques per a obtindre el títol oficial de Monitor de Temps Lliure de GVAJove.
                      Tant en la preparació d'activitats com en les pràctiques de MTL contem amb el recolzament i guiatge del nostre conseller, un monitor ja titolat.
                      Atrevix-te a aprofitar el teu temps lliure!
                      Atrevix-te a passar-ho be de forma diferent!
                      Ajuda'ns a fer un mon millor, més just i sol·lidari!
                      Vine a coneixer-nos!

                </div>
            </div>
        </div>

    </div>
