<div class="container my-3">
  <!-- Nombre de la sección -->
  <div class="row">
    <div class=" col-md-12 sm-3 ">
      <div class="custom-container">
        <h1>Clan</h1>
      </div>

    </div>
  </div>

  <!-- Texto de la sección -->
  <div class="row my-3">
    <div class="col-12">
      <div class="custom-container">
        Som un grup de gent jove, <b>majors de 18 anys</b>. El nostre lema és el SERVEI als demés, i el nostre principal
        repte,
        conseguir divertir-nos i al mateix temps ajudar a fer un mon millor.
        Ens juntem, generalment els dissabtes de mati, tot i que no tenim un horari fixe, perque depenem de les
        activitats que tingam previstes

        Entre tots proposem, triem i preparem les nostres activitats, mitjançant Assamblees democràtiques i la divissió
        de la feina per a preparar els projectes. Per a reduir el preu de les activitats preparem formes
        d'autofinanciació. Algunes de les actividades que hem fet son:
        <ul>
          <li><b>D'Aventura:</b> espeleología, barranquisme, rafting.
            A la natura: senderisme, acampades, reforestacions.</li>

          <li><b>De grupo:</b> viatges per Espanya i Europa, dinámiques, picnics.</li>
          <li><b>Serveis:</b> festivals benèfics de teatre, ajuda a col·lectius desfavorits, recolzament a centres
            d'animal
            abandonats.</li>
        </ul>
        <p>També al Clan pots formar-te com a monitor de temps lliure infantil i fer pràctique amb el nostre equip de
          scouters del Grup Scout així com participar en les seues activitats. Facilitem i <b>tutoritzem les pràctiques
            per
            a
            obtindre el títol oficial de Monitor de Temps Lliure de GVAJove.</b></p>
        <p>
          Tant en la preparació d'activitats com en les pràctiques de MTL contem amb el recolzament i guiatge del
          nostre conseller, un monitor ja titolat.</p>
        <b>
          <p>Atrevix-te a aprofitar el teu temps lliure!</p>
          <p>Atrevix-te a passar-ho be de forma diferent!</p>
          <p>Ajuda'ns a fer un mon millor, més just i sol·lidari!</p>
          <p>Vine a coneixer-nos!</p>
        </b>
      </div>
    </div>
  </div>

  <!-- Imagen principal -->
  <div class="row my-3 ">
    <div class="col-12">
      <div class="p-3 border bg-light">
        <div id="carouselExampleControls" class="carousel slide col-lg-10 col-md-10 col-sm-10 offset-1">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../../assets/imgs/scouts/clan/clan1.jpg" class="d-block h-100 w-100" alt="foto del clan">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/imgs/scouts/clan/clan2.jpg" class="d-block h-100 w-100" alt="foto del clan">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/imgs/scouts/clan/clan3.jpg" class="d-block h-100 w-100" alt="foto del clan">
            </div>
          </div>
          <button id="botAv" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">ANTERIOR</span>
          </button>
          <button id="botDe" class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">SIGUIENTE</span>
          </button>
        </div>
      </div>
    </div>

  </div>

</div>