<div class="container">
  <!-- Nombre de la sección -->
  <div class="row">
    <div class=" col-md-6 sm-3 ">
      <div class="custom-container">
        <h1>Tropa</h1>
        <img src="../../../assets/imgs/logos/tropa.png" alt="image patrullas">
      </div>
    </div>
    <div class="col-md-6">
      <div class="custom-container2">
        <h2>Qué és la Tropa?</h2>
        La Tropa és la secció scout per als xics i xiques d'entre <b>11 i 15 anys</b>.
        <p>La Tropa es divideix en
          varies patrulles, cadascuna de las quals pren el nom d'un animal.
        <p>Actualment al Sempre Avant tenim 4
          patrulles:</p>
        <ul>
          <li><b>Castors</b></li>
          <li><b>Oronetes</b></li>
          <li><b>Llops</b></li>
          <li><b>Panteres</b></li>

        </ul>
      </div>
    </div>
  </div>



  <!-- Texto de la sección -->
  <div class="row my-3">
    <div class="col-12">
      <div class="custom-container2">


        <h2>Qué fa la Tropa?</h2>
        <p>Unir-se a la Tropa et permetrà viure un fum d'aventures junt a gent de la teua mateixa edat. A la
          tropa faràs nous amics, conviuiràs amb la natura, coneixeràs millor la teua ciutat i aprendràs
          moltes tècniques scouts (nusos, cartografía, cuina, socorrisme...) Si vols formar part de la nostra
          Tropa pasa't pel nostre local, allí ens reunim tots els dissabtes, de 10h a 13h.</p>
        <p><b>Aníma't i vine a coneixer-nos!</b></p>

      </div>
    </div>
  </div>
  <div class="row my-3 ">
    <div class="col-12">
      <div class="p-3 border bg-light">
        <div id="carouselExampleControls" class="carousel slide col-lg-10 col-md-10 col-sm-10 offset-1">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../../assets/imgs/scouts/tropa/tropa1.jpg" class="d-block h-100 w-100"
                alt="foto del grupo de tropa">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/imgs/scouts/tropa/tropa2.jpg" class="d-block h-100 w-100"
                alt="foto del grupo de tropa">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/imgs/scouts/tropa/tropa3.jpg" class="d-block h-100 w-100"
                alt="foto del grupo de tropa">
            </div>
          </div>
          <button id="botAv" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">ANTERIOR</span>
          </button>
          <button id="botDe" class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">SIGUIENTE</span>
          </button>
        </div>
      </div>
    </div>

  </div>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>