<div class="container-fluid">
  <div class="container my-3">
    <!-- Nombre de la sección -->
    <div class="row d-flex align-items-stretch">
      <div class="col-md-6 sm-3">
        <div class="custom-container h-100">
          <img src="../../../assets/imgs/logos/JJCC_bonito.gif" alt="jovenes castores">
          <h1>Joves Castors</h1>
        </div>
      </div>
      <div class="col-md-6 sm-12">
        <div class="custom-container h-100">
          <h2>Vols saber qui som? T'agradaria ser scout d'este grup?</h2>
          Si tens entre <b>5 i 8 anys</b> esta és la teua secció!
          <p>La nostra casa és el cau en el riu. El nostre mestre és KEEO (el vell castor)</p>
          <p>Ens reunim tots els dissabtes de 10h. a 13h. FEM EXCURSIONS TOTS ELS MESOS I REALITZEM ACTIVITATS MOLT DIVERTIDES.</p>
          ANIMA'T I VINE A JUGAR AMB NOSALTRES!
        </div>
      </div>
    </div>
    
    
    

    <!-- Texto de la sección -->
    <div class="row my-3">
  
    </div>
  
  </div>
  
  <div class="container">
    <div class="custom-container">
      <div class="row">
        <div class="col-12 custom-header">
          Metodologia dels Joves Castors
        </div>
      </div>
      <div class="col-12 custom-header">
        Els animals del bosc
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-4 character-card">
          <img src="../../../assets/imgs/personajes_JJCC/keeosf.png" width="80" height="80" alt="Keeo"
            class="character-image">
          <p class="character-text"><b>Keeo</b>, el savi castor és el líder de la colònia de castors.</p>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 character-card">
          <img src="../../../assets/imgs/personajes_JJCC/rassf.png" width="80" height="80" alt="Ras"
            class="character-image">
          <p class="character-text"><b>Ras</b>, el gat ensenya als castors a ser nets i endreçats.</p>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 character-card">
          <img src="../../../assets/imgs/personajes_JJCC/salkysf.png" width="80" height="80" alt="Salky"
            class="character-image">
          <p class="character-text"><b>Salky</b>, l'hàbil ocellet sempre juga juntament amb la resta d'amics del bosc.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-lg-6 col-sm-6 character-card">
          <img src="../../../assets/imgs/personajes_JJCC/barusf.png" width="80" height="80" alt="Baru"
            class="character-image">
          <p class="character-text"><b>Baru</b>, la xicoteta formigueta sempre és treballadora i arreplega despres de
            jugar.</p>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-6 character-card">
          <img src="../../../assets/imgs/personajes_JJCC/rebrusf.png" width="80" height="80" alt="Rebru"
            class="character-image">
          <p class="character-text"><b>Rebru</b>, l'os ensenya a la colònia de castors els misteris i la importància de la
            naturalesa.</p>
        </div>
      </div>
  
      <div class="row">
        <div class="col-6">
          <div class="custom-header">
            Llei de la Colònia
          </div>
          <p class="character-text">Un castor es alegre y juga amb tots</p>
        </div>
        <div class="col-6">
          <div class="custom-header">
            Lema del Jove Castor
          </div>
          <p class="character-text">COMPARTIR</p>
        </div>
      </div>
  
      <div class="row">
        <div class="col-6">
          <div class="custom-header">
            Oració del Jove Castor
          </div>
          <p class="character-text">Senyor, al començar esta jornada
            ens invites a participar,
            fes que la nostra tasca siga útil per a tots
            per a que sapiguem construir
            un mon que t'agrade.</p>
        </div>
        <div class="col-6">
          <div class="custom-header">
            Promesa del Jove Castor
          </div>
          <p class="character-text">Jo promet complir la meva tasca com a jove castor i participar amb alegria en la
            colònia</p>
        </div>
      </div>
  
      <div class="row">
        <div class="col-12">
          <div class="custom-header">
            Crit
          </div>
          <p class="character-text">CASTORS, QUE FEM?
            ¡¡¡COMPARTIR!!!</p>
        </div>
      </div>
    </div>
  
    <!-- Imagen principal -->
    <div class="row my-3 ">
      <div class="col-12">
        <div class="p-3 border bg-light">
          <div id="carouselExampleControls" class="carousel slide col-lg-10 col-md-10 col-sm-10 offset-1">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../../../assets/imgs/scouts/jjcc/castores1.jpg" class="d-block h-100 w-100"
                  alt="foto del grupo de los castores">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/imgs/scouts/jjcc/castores2.jpg" class="d-block h-100 w-100"
                  alt="foto del grupo de los castores">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/imgs/scouts/jjcc/castores3.jpg" class="d-block h-100 w-100"
                  alt="foto del grupo de los castores">
              </div>
            </div>
            <button id="botAv" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">ANTERIOR</span>
            </button>
            <button id="botDe" class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">SIGUIENTE</span>
            </button>
          </div>
        </div>
      </div>
  
    </div>
  
  
</div>