<div class="container-fluid">
    <div class="card text-bg-light">
        <div class="card-body">
            <h1 class="titCard">Cronología de l'escoltime</h1>
            <div class="row">
                <p class="col-lg-12 col-md-12 col-sm-12 text-center titulo"
                    style="font-size: 5vh;  background-color: blue; color:#ffffff">Publicaciones</p>
                <p class="col-lg-12 col-md-12 col-sm-12 text-center"
                    style="font-size: 3vh; background-color: blue; color:#ffffff">Asociacion</p>

                <div id="carouselExampleControls" class="carousel slide col-lg-11 col-md-11 col-sm-11">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <a href="https://issuu.com/sempreavant/docs/revista_52/1?e=10759690/89165073"
                                    class="col-lg-3 col-md-3 col-sm-3"><img
                                        src="../../../assets/imgsPublicacions/52.PNG" alt="Imagen 1"></a>
                                <a href="https://issuu.com/sempreavant/docs/revista_51/1?e=10759690/90980071"
                                    class="col-lg-3 col-md-3 col-sm-3"><img
                                        src="../../../assets/imgsPublicacions/51.PNG" alt="Imagen 1"></a>
                                <a href="https://issuu.com/sempreavant/docs/revista_50/1?e=10759690/90980069"
                                    class="col-lg-3 col-md-3 col-sm-3"><img
                                        src="../../../assets/imgsPublicacions/50.PNG" alt="Imagen 1"></a>
                                <a href="https://issuu.com/sempreavant/docs/revista_49/1?e=10759690/90980067"
                                    class="col-lg-3 col-md-3 col-sm-3"><img
                                        src="../../../assets/imgsPublicacions/49.PNG" alt="Imagen 1"></a>
                                <a href="https://issuu.com/sempreavant/docs/revista_52/1?e=10759690/89165073"
                                    class="col-lg-3 col-md-3 col-sm-3">
                                    <p style="margin-left: auto; margin-right: auto;">Nº 52 Sempre Avant al día</p>
                                </a>
                                <a href="https://issuu.com/sempreavant/docs/revista_51/1?e=10759690/90980071"
                                    class="col-lg-3 col-md-3 col-sm-3">
                                    <p style="margin-left: auto; margin-right: auto;">Nº 51 Sempre Avant al día</p>
                                </a>
                                <a href="https://issuu.com/sempreavant/docs/revista_50/1?e=10759690/90980069"
                                    class="col-lg-3 col-md-3 col-sm-3">
                                    <p style="margin-left: auto; margin-right: auto;">Nº 50 Sempre Avant al día</p>
                                </a>
                                <a href="https://issuu.com/sempreavant/docs/revista_49/1?e=10759690/90980067"
                                    class="col-lg-3 col-md-3 col-sm-3">
                                    <p style="margin-left: auto; margin-right: auto;">Nº 49 Sempre Avant al día</p>
                                </a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <a href="https://issuu.com/sempreavant/docs/revista_48/1?e=10759690/97577779"
                                    class="col-lg-3 col-md-3 col-sm-3"><img
                                        src="../../../assets/imgsPublicacions/48.PNG" alt="Imagen 1"></a>
                                <a href="https://issuu.com/sempreavant/docs/revista_47/1?e=10759690/98012289"
                                    class="col-lg-3 col-md-3 col-sm-3"><img
                                        src="../../../assets/imgsPublicacions/47.PNG" alt="Imagen 1"></a>
                                <a href="https://issuu.com/sempreavant/docs/revista_46_castellano16p/1?e=10759690/59463053"
                                    class="col-lg-3 col-md-3 col-sm-3"><img
                                        src="../../../assets/imgsPublicacions/46.PNG" alt="Imagen 1"></a>
                                <a href="https://issuu.com/sempreavant/docs/revista45_12p_cas/1?e=10759690/59510419"
                                    class="col-lg-3 col-md-3 col-sm-3"><img
                                        src="../../../assets/imgsPublicacions/45.PNG" alt="Imagen 1"></a>
                                <a href="https://issuu.com/sempreavant/docs/revista_48/1?e=10759690/97577779"
                                    class="col-lg-3 col-md-3 col-sm-3">
                                    <p style="margin-left: auto; margin-right: auto;">Nº 48 Sempre Avant al día</p>
                                </a>
                                <a href="https://issuu.com/sempreavant/docs/revista_47/1?e=10759690/98012289"
                                    class="col-lg-3 col-md-3 col-sm-3">
                                    <p style="margin-left: auto; margin-right: auto;">Nº 47 Sempre Avant al día</p>
                                </a>
                                <a href="https://issuu.com/sempreavant/docs/revista_46_castellano16p/1?e=10759690/59463053"
                                    class="col-lg-3 col-md-3 col-sm-3">
                                    <p style="margin-left: auto; margin-right: auto;">Nº 46 Sempre Avant al día</p>
                                </a>
                                <a href="https://issuu.com/sempreavant/docs/revista45_12p_cas/1?e=10759690/59510419"
                                    class="col-lg-3 col-md-3 col-sm-3">
                                    <p style="margin-left: auto; margin-right: auto;">Nº 45 Sempre Avant al día</p>
                                </a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <a href="https://issuu.com/sempreavant/docs/revista_verano_2017_cas"
                                    class="col-lg-3 col-md-3 col-sm-3"><img
                                        src="../../../assets/imgsPublicacions/44.PNG" alt="Imagen 1"></a>
                                <a href="https://issuu.com/sempreavant/docs/rev43_mar17_c_20170329/1?e=10759690/54602865"
                                    class="col-lg-3 col-md-3 col-sm-3"><img
                                        src="../../../assets/imgsPublicacions/43.PNG" alt="Imagen 1"></a>
                                <a href="https://issuu.com/sempreavant/docs/rev42_oct16_c_20161123/1?e=10759690/58540092"
                                    class="col-lg-3 col-md-3 col-sm-3"><img
                                        src="../../../assets/imgsPublicacions/42.PNG" alt="Imagen 1"></a>
                                <a href="https://issuu.com/sempreavant/docs/rev41_jun16_c/1?e=10759690/37076873"
                                    class="col-lg-3 col-md-3 col-sm-3"><img
                                        src="../../../assets/imgsPublicacions/41.PNG" alt="Imagen 1"></a>
                                <a href="https://issuu.com/sempreavant/docs/revista_verano_2017_cas"
                                    class="col-lg-3 col-md-3 col-sm-3">
                                    <p style="margin-left: auto; margin-right: auto;">Nº 44 Sempre Avant al día</p>
                                </a>
                                <a href="https://issuu.com/sempreavant/docs/rev43_mar17_c_20170329/1?e=10759690/54602865"
                                    class="col-lg-3 col-md-3 col-sm-3">
                                    <p style="margin-left: auto; margin-right: auto;">Nº 43 Sempre Avant al día</p>
                                </a>
                                <a href="https://issuu.com/sempreavant/docs/rev42_oct16_c_20161123/1?e=10759690/58540092"
                                    class="col-lg-3 col-md-3 col-sm-3">
                                    <p style="margin-left: auto; margin-right: auto;">Nº 42 Sempre Avant al día</p>
                                </a>
                                <a href="https://issuu.com/sempreavant/docs/rev41_jun16_c/1?e=10759690/37076873"
                                    class="col-lg-3 col-md-3 col-sm-3">
                                    <p style="margin-left: auto; margin-right: auto;">Nº 41 Sempre Avant al día</p>
                                </a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <a href="https://issuu.com/sempreavant/docs/rev40_mar16_c/1?e=10759690/34970611"
                                    class="col-lg-3 col-md-3 col-sm-3"><img
                                        src="../../../assets/imgsPublicacions/40.PNG" alt="Imagen 1"></a>
                                <a href="https://issuu.com/sempreavant/docs/rev39_nov15_c/1?e=10759690/35379078"
                                    class="col-lg-3 col-md-3 col-sm-3"><img
                                        src="../../../assets/imgsPublicacions/39.PNG" alt="Imagen 1"></a>
                                <a href="https://issuu.com/sempreavant/docs/rev38_jun15_c/1?e=10759690/35303812"
                                    class="col-lg-3 col-md-3 col-sm-3"><img
                                        src="../../../assets/imgsPublicacions/38.PNG" alt="Imagen 1"></a>
                                <a href="https://issuu.com/sempreavant/docs/rev37_mar15/1?e=10759690/13390624"
                                    class="col-lg-3 col-md-3 col-sm-3"><img
                                        src="../../../assets/imgsPublicacions/37.PNG" alt="Imagen 1"></a>
                                <a href="https://issuu.com/sempreavant/docs/rev40_mar16_c/1?e=10759690/34970611"
                                    class="col-lg-3 col-md-3 col-sm-3">
                                    <p style="margin-left: auto; margin-right: auto;">Nº 40 Sempre Avant al día</p>
                                </a>
                                <a href="https://issuu.com/sempreavant/docs/rev39_nov15_c/1?e=10759690/35379078"
                                    class="col-lg-3 col-md-3 col-sm-3">
                                    <p style="margin-left: auto; margin-right: auto;">Nº 39 Sempre Avant al día</p>
                                </a>
                                <a href="https://issuu.com/sempreavant/docs/rev38_jun15_c/1?e=10759690/35303812"
                                    class="col-lg-3 col-md-3 col-sm-3">
                                    <p style="margin-left: auto; margin-right: auto;">Nº 38 Sempre Avant al día</p>
                                </a>
                                <a href="https://issuu.com/sempreavant/docs/rev37_mar15/1?e=10759690/13390624"
                                    class="col-lg-3 col-md-3 col-sm-3">
                                    <p style="margin-left: auto; margin-right: auto;">Nº 37 Sempre Avant al día</p>
                                </a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <a href="https://issuu.com/sempreavant/docs/rev36_oct14_c/1?e=10759690/13162412"
                                    class="col-lg-3 col-md-3 col-sm-3"><img
                                        src="../../../assets/imgsPublicacions/36.PNG" alt="Imagen 1"></a>
                                <a href="https://issuu.com/sempreavant/docs/rev35_jun14/1?e=10759690/8316414"
                                    class="col-lg-3 col-md-3 col-sm-3"><img
                                        src="../../../assets/imgsPublicacions/35.PNG" alt="Imagen 1"></a>
                                <a href="https://issuu.com/sempreavant/docs/rev34_feb14/1?e=10759690/9705384"
                                    class="col-lg-3 col-md-3 col-sm-3"><img
                                        src="../../../assets/imgsPublicacions/34.PNG" alt="Imagen 1"></a>
                                <a href="https://issuu.com/sempreavant/docs/revista33/1?e=10759690/6743225"
                                    class="col-lg-3 col-md-3 col-sm-3"><img
                                        src="../../../assets/imgsPublicacions/33.PNG" alt="Imagen 1"></a>
                                <a href="https://issuu.com/sempreavant/docs/rev36_oct14_c/1?e=10759690/13162412"
                                    class="col-lg-3 col-md-3 col-sm-3">
                                    <p style="margin-left: auto; margin-right: auto;">Nº 36 <br>Sempre Avant al día</p>
                                </a>
                                <a href="https://issuu.com/sempreavant/docs/rev35_jun14/1?e=10759690/8316414"
                                    class="col-lg-3 col-md-3 col-sm-3">
                                    <p style="margin-left: auto; margin-right: auto;">Nº 35 <br>Sempre Avant al día</p>
                                </a>
                                <a href="https://issuu.com/sempreavant/docs/rev34_feb14/1?e=10759690/9705384"
                                    class="col-lg-3 col-md-3 col-sm-3">
                                    <p style="margin-left: auto; margin-right: auto;">Nº 34 <br>Sempre Avant al día</p>
                                </a>
                                <a href="https://issuu.com/sempreavant/docs/revista33/1?e=10759690/6743225"
                                    class="col-lg-3 col-md-3 col-sm-3">
                                    <p style="margin-left: auto; margin-right: auto;">Nº 33 <br>Sempre Avant al día</p>
                                </a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <a href="https://issuu.com/sempreavant/docs/revista32/1?e=10759690/6792866"
                                    class="col-lg-3 col-md-3 col-sm-3"><img
                                        src="../../../assets/imgsPublicacions/32.PNG" alt="Imagen 1"></a>
                                <a href="https://issuu.com/sempreavant/docs/revista31/1?e=10759690/6792827"
                                    class="col-lg-3 col-md-3 col-sm-3"><img
                                        src="../../../assets/imgsPublicacions/31.PNG" alt="Imagen 1"></a>
                                <a href="https://issuu.com/sempreavant/docs/rev30_oct12_completa_c/1?e=10759690/6792891"
                                    class="col-lg-3 col-md-3 col-sm-3"><img
                                        src="../../../assets/imgsPublicacions/30.PNG" alt="Imagen 1"></a>
                                <a href="https://issuu.com/sempreavant/docs/rev29_jun12_completa_c/1?e=10759690/6866851"
                                    class="col-lg-3 col-md-3 col-sm-3"><img
                                        src="../../../assets/imgsPublicacions/29.PNG" alt="Imagen 1"></a>
                                <a href="https://issuu.com/sempreavant/docs/revista32/1?e=10759690/6792866"
                                    class="col-lg-2 col-md-2 col-sm-2 offset-1">
                                    <p style="margin-left: auto; margin-right: auto;">Nº 32 <br>Sempre Avant al día</p>
                                </a>
                                <a href="https://issuu.com/sempreavant/docs/revista31/1?e=10759690/6792827"
                                    class="col-lg-2 col-md-2 col-sm-2 offset-1">
                                    <p style="margin-left: auto; margin-right: auto;">Nº 31 <br>Sempre Avant al día</p>
                                </a>
                                <a href="https://issuu.com/sempreavant/docs/rev30_oct12_completa_c/1?e=10759690/6792891"
                                    class="col-lg-2 col-md-2 col-sm-2 offset-1">
                                    <p style="margin-left: auto; margin-right: auto;">Nº 30 <br>Sempre Avant al día</p>
                                </a>
                                <a href="https://issuu.com/sempreavant/docs/rev29_jun12_completa_c/1?e=10759690/6866851"
                                    class="col-lg-2 col-md-2 col-sm-2 offset-1">
                                    <p style="margin-left: auto; margin-right: auto;">Nº 29 <br>Sempre Avant al día</p>
                                </a>
                            </div>
                        </div>
                        <button id="botAv" class="carousel-control-prev" type="button"
                            data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Anterior</span>
                        </button>
                        <button id="botDe" class="carousel-control-next" type="button"
                            data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Siguiente</span>
                        </button>
                    </div>
                </div>
                <!-- //  -->
                <!-- //  -->
                <!-- //  -->
                <!-- //  -->
                <!-- //  -->
                <!-- //  -->
                <p class="col-lg-12 col-md-12 col-sm-12 text-center titulo"
                    style="font-size: 5vh;  background-color: purple; color:#ffffff">Libros scouts</p>
                <p class="col-lg-12 col-md-12 col-sm-12 text-center"
                    style="font-size: 3vh;  background-color: purple; color:#ffffff">Y del grupo</p>
                <div id="carouselExampleControls2" class="carousel slide col-lg-11 col-md-11 col-sm-11">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <a href="https://issuu.com/sempreavant/docs/vidadebpcomicok2/1?e=10759690/6743201"
                                    class="col-lg-3 col-md-3 col-sm-3"><img
                                        src="../../../assets/imgsPublicacions/L1.PNG" alt="Imagen 1"></a>
                                <a href="https://issuu.com/sempreavant/docs/vidabpcuadros/1?e=10759690/6810351"
                                    class="col-lg-3 col-md-3 col-sm-3"><img
                                        src="../../../assets/imgsPublicacions/L2.PNG" alt="Imagen 1"></a>
                                <a href="https://issuu.com/sempreavant/docs/cancionero_servicio_tropa/1?e=10759690/6793057"
                                    class="col-lg-3 col-md-3 col-sm-3"><img
                                        src="../../../assets/imgsPublicacions/L3.PNG" alt="Imagen 1"></a>
                                <a href="" class="col-lg-3 col-md-3 col-sm-3">
                                    <p style="margin-left: auto; margin-right: auto;"></p>
                                </a>
                                <a href="https://issuu.com/sempreavant/docs/vidadebpcomicok2/1?e=10759690/6743201"
                                    class="col-lg-3 col-md-3 col-sm-3">
                                    <p style="margin-left: auto; margin-right: auto;">Vida de BP en comic</p>
                                </a>
                                <a href="https://issuu.com/sempreavant/docs/vidabpcuadros/1?e=10759690/6810351"
                                    class="col-lg-3 col-md-3 col-sm-3">
                                    <p style="margin-left: auto; margin-right: auto;">Vida de BP en cuadros</p>
                                </a>
                                <a href="https://issuu.com/sempreavant/docs/cancionero_servicio_tropa/1?e=10759690/6793057"
                                    class="col-lg-3 col-md-3 col-sm-3">
                                    <p style="margin-left: auto; margin-right: auto;">Cancionero Scout</p>
                                </a>
                            </div>
                        </div>


                        <button id="botAv2" class="carousel-control-prev" type="button"
                            data-bs-target="#carouselExampleControls2" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Anterior</span>
                        </button>
                        <button id="botDe2" class="carousel-control-next" type="button"
                            data-bs-target="#carouselExampleControls2" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Siguiente</span>
                        </button>
                    </div>
                </div>
                <!--  -->
                <!--  -->
                <!--  -->
                <!--  -->
                <!--  -->
                <!--  -->
                <p class="col-lg-12 col-md-12 col-sm-12 text-center titulo"
                    style="font-size: 5vh; background-color: orangered; color:#ffffff">Jovenes</p>
                <p class="col-lg-12 col-md-12 col-sm-12 text-center"
                    style="font-size: 3vh; background-color: orangered; color:#ffffff">Castores</p>
                <div id="carouselExampleControls3" class="carousel slide col-lg-11 col-md-11 col-sm-11">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <a href="https://issuu.com/grupo.scout.nomadas.wfis.spain/docs/beav-food/1?e=1422685/6760216"
                                    class="col-lg-3 col-md-3 col-sm-3"><img
                                        src="../../../assets/imgsPublicacions/JC1.PNG" alt="Imagen 1"></a>
                                <a href="https://issuu.com/pedrogil2/docs/manual_de_los_jovenes_castores_n__1/1?e=3221494/6750666"
                                    class="col-lg-3 col-md-3 col-sm-3"><img
                                        src="../../../assets/imgsPublicacions/JC2.PNG" alt="Imagen 1"></a>
                                <a href="" class="col-lg-3 col-md-3 col-sm-3">
                                </a>
                                <a href="" class="col-lg-3 col-md-3 col-sm-3">
                                    <p style="margin-left: auto; margin-right: auto;"></p>
                                </a>
                                <a href="https://issuu.com/grupo.scout.nomadas.wfis.spain/docs/beav-food/1?e=1422685/6760216"
                                    class="col-lg-3 col-md-3 col-sm-3">
                                    <p style="margin-left: auto; margin-right: auto;">BEAV-food</p>
                                </a>
                                <a href="https://issuu.com/pedrogil2/docs/manual_de_los_jovenes_castores_n__1/1?e=3221494/6750666"
                                    class="col-lg-3 col-md-3 col-sm-3">
                                    <p style="margin-left: auto; margin-right: auto;">MANUAL DE LOS JOVENES CASTORES</p>
                                </a>

                            </div>
                        </div>


                        <button id="botAv3" class="carousel-control-prev" type="button"
                            data-bs-target="#carouselExampleControls3" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Anterior</span>
                        </button>
                        <button id="botDe3" class="carousel-control-next" type="button"
                            data-bs-target="#carouselExampleControls3" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Siguiente</span>
                        </button>
                    </div>
                </div>
                <!--  -->
                <!--  -->
                <p class="col-lg-12 col-md-12 col-sm-12 text-center titulo"
                    style="font-size: 5vh; background-color: yellow; color:#ffffff">Manada</p>
                <p class="col-lg-12 col-md-12 col-sm-12 text-center"
                    style="font-size: 3vh; background-color: yellow; color:#ffffff">Manada</p>
                <div id="carouselExampleControls4" class="carousel slide col-lg-11 col-md-11 col-sm-11">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <a href="https://issuu.com/sempreavant/docs/pruebas_de_manada/1?e=0"
                                    class="col-lg-3 col-md-3 col-sm-3"><img
                                        src="../../../assets/imgsPublicacions/Ma1.PNG" alt="Imagen 1"></a>
                                <a href="https://issuu.com/sempreavant/docs/manual_de_la_promesa_-_manada/1?e=0"
                                    class="col-lg-3 col-md-3 col-sm-3"><img
                                        src="../../../assets/imgsPublicacions/Ma2.PNG" alt="Imagen 1"></a>
                                <a href="https://issuu.com/sempreavant/docs/manual_de_exploraci__n_-_manada/1?e=0"
                                    class="col-lg-3 col-md-3 col-sm-3"><img
                                        src="../../../assets/imgsPublicacions/Ma3.PNG" alt="Imagen 1"></a>
                                <a href="https://issuu.com/sempreavant/docs/manual_de_campismo_-_manada/1?e=0"
                                    class="col-lg-3 col-md-3 col-sm-3"><img
                                        src="../../../assets/imgsPublicacions/Ma4.PNG" alt="Imagen 1"></a>

                                <a href="https://issuu.com/sempreavant/docs/pruebas_de_manada/1?e=0"
                                    class="col-lg-3 col-md-3 col-sm-3">
                                    <p style="margin-left: auto; margin-right: auto;">Pruebas de manada</p>
                                </a>
                                <a href="https://issuu.com/sempreavant/docs/manual_de_la_promesa_-_manada/1?e=0"
                                    class="col-lg-3 col-md-3 col-sm-3">
                                    <p style="margin-left: auto; margin-right: auto;">Manual de la promesa manada</p>
                                </a>
                                <a href="https://issuu.com/sempreavant/docs/manual_de_exploraci__n_-_manada/1?e=0"
                                    class="col-lg-3 col-md-3 col-sm-3">
                                    <p style="margin-left: auto; margin-right: auto;">Manual de exploración manada</p>
                                </a>
                                <a href="https://issuu.com/sempreavant/docs/manual_de_campismo_-_manada/1?e=0"
                                    class="col-lg-3 col-md-3 col-sm-3">
                                    <p style="margin-left: auto; margin-right: auto;">Manual de campismo manada</p>
                                </a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <a href="https://issuu.com/sempreavant/docs/manual_del_lobato/1?e=0"
                                    class="col-lg-3 col-md-3 col-sm-3"><img
                                        src="../../../assets/imgsPublicacions/Ma5.PNG" alt="Imagen 1"></a>
                                <a href="https://issuu.com/sempreavant/docs/manual_de_nudos/1?e=0"
                                    class="col-lg-3 col-md-3 col-sm-3"><img
                                        src="../../../assets/imgsPublicacions/Ma6.PNG" alt="Imagen 1"></a>
                                <a href="https://issuu.com/sempreavant/docs/el_libro_de_las_tierras_virgenes/1?e=0"
                                    class="col-lg-3 col-md-3 col-sm-3"><img
                                        src="../../../assets/imgsPublicacions/Ma7.PNG" alt="Imagen 1"></a>
                                <a href="https://issuu.com/sempreavant/docs/libretavirtual/1?e=0"
                                    class="col-lg-3 col-md-3 col-sm-3"><img
                                        src="../../../assets/imgsPublicacions/Ma8.PNG" alt="Imagen 1"></a>
                                <a href="https://issuu.com/sempreavant/docs/manual_del_lobato/1?e=0"
                                    class="col-lg-3 col-md-3 col-sm-3">
                                    <p style="margin-left: auto; margin-right: auto;">Manual de lobato</p>
                                </a>
                                <a href="https://issuu.com/sempreavant/docs/manual_de_nudos/1?e=0"
                                    class="col-lg-3 col-md-3 col-sm-3">
                                    <p style="margin-left: auto; margin-right: auto;">Manual de nudos</p>
                                </a>
                                <a href="https://issuu.com/sempreavant/docs/el_libro_de_las_tierras_virgenes/1?e=0"
                                    class="col-lg-3 col-md-3 col-sm-3">
                                    <p style="margin-left: auto; margin-right: auto;">El libro de las tierras virgenes
                                    </p>
                                </a>
                                <a href="https://issuu.com/sempreavant/docs/libretavirtual/1?e=0"
                                    class="col-lg-3 col-md-3 col-sm-3">
                                    <p style="margin-left: auto; margin-right: auto;">Libreta de caza virtual</p>
                                </a>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <a href="https://issuu.com/sempreavant/docs/transmisiones/1?e=0"
                                    class="col-lg-3 col-md-3 col-sm-3"><img
                                        src="../../../assets/imgsPublicacions/Ma9.PNG" alt="Imagen 1"></a>
                                <a href="https://issuu.com/sempreavant/docs/sanitario/1?e=0"
                                    class="col-lg-3 col-md-3 col-sm-3"><img
                                        src="../../../assets/imgsPublicacions/Ma10.PNG" alt="Imagen 1"></a>
                                <a href="https://issuu.com/sempreavant/docs/ecologia/1?e=0"
                                    class="col-lg-3 col-md-3 col-sm-3"><img
                                        src="../../../assets/imgsPublicacions/Ma11.PNG" alt="Imagen 1"></a>
                                <a href="https://issuu.com/sempreavant/docs/pruebas_de_eficiencia/1?e=0"
                                    class="col-lg-3 col-md-3 col-sm-3"><img
                                        src="../../../assets/imgsPublicacions/Ma12.PNG" alt="Imagen 1"></a>
                                <a href="https://issuu.com/sempreavant/docs/transmisiones/1?e=0"
                                    class="col-lg-3 col-md-3 col-sm-3">
                                    <p style="margin-left: auto; margin-right: auto;">Transmisiones Manada</p>
                                </a>
                                <a href="https://issuu.com/sempreavant/docs/sanitario/1?e=0"
                                    class="col-lg-3 col-md-3 col-sm-3">
                                    <p style="margin-left: auto; margin-right: auto;">Sanitario Manada</p>
                                </a>
                                <a href="https://issuu.com/sempreavant/docs/ecologia/1?e=0"
                                    class="col-lg-3 col-md-3 col-sm-3">
                                    <p style="margin-left: auto; margin-right: auto;">Cuaderno de ecologia</p>
                                </a>
                                <a href="https://issuu.com/sempreavant/docs/pruebas_de_eficiencia/1?e=0"
                                    class="col-lg-3 col-md-3 col-sm-3">
                                    <p style="margin-left: auto; margin-right: auto;">Pruebas de eficiencia</p>
                                </a>
                            </div>
                        </div>
                    </div>



                    <button id="botAv4" class="carousel-control-prev" type="button"
                        data-bs-target="#carouselExampleControls4" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Anterior</span>
                    </button>
                    <button id="botDe4" class="carousel-control-next" type="button"
                        data-bs-target="#carouselExampleControls4" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Siguiente</span>
                    </button>
                </div>
            </div>
            <!--  -->
            <!--  -->
            <!--  -->
            <p class="col-lg-12 col-md-12 col-sm-12 text-center titulo"
                style="font-size: 5vh;  background-color: lightseagreen; color:#ffffff">Manuales</p>
            <p class="col-lg-12 col-md-12 col-sm-12 text-center"
                style="font-size: 3vh;  background-color: lightseagreen; color:#ffffff">Tecnicos</p>
            <div id="carouselExampleControls5" class="carousel slide col-lg-11 col-md-11 col-sm-11">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <a href="https://issuu.com/scout_es/docs/cuaderno_construcciones_a/1?e=1757207/43296567"
                                class="col-lg-3 col-md-3 col-sm-3"><img src="../../../assets/imgsPublicacions/M1.PNG"
                                    alt="Imagen 1"></a>
                            <a href="https://issuu.com/sempreavant/docs/manual_transmisiones_gssa/1?e=10759690/6754634"
                                class="col-lg-3 col-md-3 col-sm-3"><img src="../../../assets/imgsPublicacions/M2.PNG"
                                    alt="Imagen 1"></a>
                            <a href="https://issuu.com/sempreavant/docs/manual_de_cartografia_completo1/1?e=10759690/7079642"
                                class="col-lg-3 col-md-3 col-sm-3"><img src="../../../assets/imgsPublicacions/M3.PNG"
                                    alt="Imagen 1"></a>
                            <a href="" class="col-lg-3 col-md-3 col-sm-3">
                                <p style="margin-left: auto; margin-right: auto;"></p>
                            </a>
                            <a href="https://issuu.com/scout_es/docs/cuaderno_construcciones_a/1?e=1757207/43296567"
                                class="col-lg-3 col-md-3 col-sm-3">
                                <p style="margin-left: auto; margin-right: auto;">Tecnicas de scouts ambientales</p>
                            </a>
                            <a href="https://issuu.com/sempreavant/docs/manual_transmisiones_gssa/1?e=10759690/6754634"
                                class="col-lg-3 col-md-3 col-sm-3">
                                <p style="margin-left: auto; margin-right: auto;">Manual de transmisiones</p>
                            </a>
                            <a href="https://issuu.com/sempreavant/docs/manual_de_cartografia_completo1/1?e=10759690/7079642"
                                class="col-lg-3 col-md-3 col-sm-3">
                                <p style="margin-left: auto; margin-right: auto;">Manual de cartografia</p>
                            </a>
                        </div>
                    </div>


                    <button id="botAv5" class="carousel-control-prev" type="button"
                        data-bs-target="#carouselExampleControls2" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Anterior</span>
                    </button>
                    <button id="botDe5" class="carousel-control-next" type="button"
                        data-bs-target="#carouselExampleControls2" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Siguiente</span>
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>