
./frontend/plantillasTest/Sempre-Avant/.angular
frontend/plantillasTest/Sempre-Avant/.angular
frontend\plantillasTest\Sempre-Avant\.angular
frontend/plantillasTest/Sempre-Avant/.angular/cache/17.1.3/Sempre-Avant/.tsbuildinfo
