<div class="container my-3">
    <!-- Nombre de la sección -->
    <div class="row">
        <div class=" col-md-12 sm-3 ">
            <div class="custom-container">
                <h1>Esculta</h1>
            </div>

        </div>
    </div>



    <!-- Texto de la sección -->
    <div class="row my-3">
        <div class="col-12">
            <div class="custom-container">
                Somos la Esculta, una sección formada por chicos y chicas de entre 15 y 18 años. Realizamos actividades,
                acampadas, excursiones, viajes y proyectos.
                Nos gusta divertirnos, salir juntos, realizar servicios para ayudar a los demás. Tratamos de combinar el
                pasarlo bien con ser un ejemplo de buenos ciudadanos y para el resto de scouts del Grupo.

                El proyecto Esculta:
                El proyecto Esculta es nuestra forma de funcionar. Las actividades que hacemos son propuestas, definidas
                y elegidas por nosotros mismos. Nuestra actividad no se limita a la propia actividad, sino también a ser
                capaces de prepararla. De esta manera se pretende que los escultas aprendan a hacer actividades, pero
                también que ellos se impliquen en aprender a coordinar y ser parte de un equipo con un objetivo común.
                Muchas de las habilidades adquiridas por los escultas en este proceso son aplicables a su vida
                estudiantil, familiar...

                Nuestro lema - ESCULTA, SIEMPRE UNIDA
            </div>
        </div>
    </div>

</div>