<div class="container my-3">
    <!-- Nombre de la sección -->
    <div class="row">
        <div class=" col-md-12 sm-3 ">
            <div class="custom-container">
                <h1>Esculta</h1>
            </div>

        </div>
    </div>

    <!-- Texto de la sección -->
    <div class="row my-3">
        <div class="col-12">
            <div class="custom-container">
                <p>Somos la Esculta, una sección formada por chicos y chicas de entre <b>15 y 18 años</b>. Realizamos
                    actividades,
                    acampadas, excursiones, viajes y proyectos.</p>
                <p>Nos gusta divertirnos, salir juntos, realizar servicios para ayudar a los demás. Tratamos de combinar
                    el
                    pasarlo bien con ser un ejemplo de buenos ciudadanos y para el resto de scouts del Grupo.</p>

                <p><b>El proyecto Esculta:</b></p>
                <p>El proyecto Esculta es nuestra forma de funcionar. Las actividades que hacemos son propuestas,
                    definidas
                    y elegidas por nosotros mismos. Nuestra actividad no se limita a la propia actividad, sino también a
                    ser
                    capaces de prepararla. De esta manera se pretende que los escultas aprendan a hacer actividades,
                    pero
                    también que ellos se impliquen en aprender a coordinar y ser parte de un equipo con un objetivo
                    común.
                    Muchas de las habilidades adquiridas por los escultas en este proceso son aplicables a su vida
                    estudiantil, familiar...</p>

                <p>Nuestro lema - <b>ESCULTA, SIEMPRE UNIDA</b></p>
            </div>
        </div>
    </div>

</div>