<section id="contacto">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Contacto</h2>
        </div>
        <div class="row">
          <form class="row g-3 needs-validation" novalidate>
    
            <div class="col-md-4 offset-md-4">
              <label for="inputName" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="inputName" placeholder="Nombre" required>
              <div class="invalid-feedback">
                Por favor, introduce tu nombre.
              </div>
            </div>
    
            <div class="col-md-4 offset-md-4">
              <label for="inputEmail" class="form-label">Email</label>
              <input type="email" class="form-control" id="inputEmail" placeholder="usuario@gmail.com" required>
              <div class="invalid-feedback">
                Por favor, introduce tu email.
              </div>
            </div>
    
            <div class="col-md-4 offset-md-4">
              <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Quiero información sobre... / Tengo preguntas sobre..." required></textarea>
              <div class="invalid-feedback">
                Por favor, introduce el mensaje.
              </div>
            </div>
    
            <div class="col-12 text-center">
              <button type="submit" class="btn btn-outline-primary">Enviar</button>
            </div>
    
          </form>
    
        </div>
      </div>
      
    </div>
  </section>
  