<div class="container my-3">

    <div class="row">
        <div class=" col-md-12 sm-3 ">
            <div class="custom-container">
                <h1>L'Escoltisme</h1>
            </div>

        </div>
    </div>


    <div class="row my-3">
        <div class="col-12">
            <div class="custom-container2">
                <p>Escoltisme, en anglés "scouting", és el nom que reb la metodología educativa que practiquen milions
                    de joves i xiquets de tot el món, coneguts com scouts.</p>

                <p>CARACTERÍSTIQUES DEL ESCOLTISME</p>

                    <ul>
                        <li>És un mètode <b>complet i adaptat</b>. Els xics poden participar a l'Escoltisme des de la seua infància
                    fins a arribar a l'edat adulta. En aquest procès anirà passant por diverses etapes (seccions)
                    adaptades a les necessitats propies de cada edat.</li>
                    <li>És totalment voluntari. Els scouts s'adherixen al Escultismo comprometent-se a acceptar les seues
                    normes (Llei Scout) de forma voluntaria.</li>
                    <li>És un mètode individualitzat, però no individualista. A l'Escoltisme, el scout desenvolupa les seues
                    capacitats, però sempre integrant-se dins d'un col·lectiu.
                    És participatiu, donçs té èxit només quan es conta amb l'implicació activa dels xics i la seua
                    família.</li>
                    <li>És un mètode complementari que posa en pràctica hàbits i capacitats que en molts casos no es
                    treballen en els mètodes de formació reglada i que seran útils en la vida del scout
                    (responsabilitat, camaraderia, iniciativa...)"</li>
                    <li>Fomenta el respecte i la protecció de la <b>natura</b>, sent èsta el lloc idoni per a les activitats
                    scouts.</li></ul>
                    <h2>La LLEI SCOUT</h2>

                    Encara que B.P. va escriure deu lleis scouts, al nostre grup las hems reduït a estes set.

                <ul>
                    <li>Un scout és lleial.</li>
                    <li>Un scout és digne de confiança.</li>
                    <li>Un scout és amable i generós.</li>
                    <li>Un scout és germà de tot scout i amic del món.</li>
                    <li>Un scout ama i protegix la naturalesa.</li>
                    <li>Un scout és valent davant de les dificultats.</li>
                    <li>Un scout és responsable, es respecta a si mateix i als altres.</li>
                </ul>

                <p>En resum, encara que Baden-Powell no va usar específicament el terme "scouter", la seva visió del
                    lideratge adult en l'escultisme encapsula la funció dels scouters avui en dia: ser líders, mentors i
                    models a seguir que faciliten el creixement personal i el desenvolupament d'habilitats dels joves a
                    través de la metodologia scout.</p>
            </div>
        </div>
    </div>

</div>