<!-- view en castellano -->
<app-jumbotron></app-jumbotron>
<div class="container">
    <div class="card text-bg-light">
        <div class="card-body">
            <h1 class="titCard">Bienvenido a la asociación Sempre Avant</h1>
            <h4>
                <div class="row">
                    <p class="col-md-6">
                        Somos una asociación juvenil sin animo de lucro, con sede en el barrio del Grao,
                        en la ciudad de València.
                        Dentro de la Asociación contamos con un grupo scout, que desde noviembre de 1971 trabaja con
                        niños y
                        jóvenes, aplicando el metodo scout, el Escultismo (regido por las normas internacionales
                        scouts), un
                        proyecto
                        educativo mundial con más de un siglo de antigüedad. Educamos en valores mediante juegos,
                        acampadas y
                        diferentes tipos de actividades lúdicas.</p>

                        <div class="card-body col-lg-5 col-md-5 col-sm-5 offset-1"><img src="../../../assets/imgs/logo.png"
                            height="200" width="200" alt="logo del plan de juventut 2019-2023"></div>
                </div>

                <div class="row">
                    <p>Todo esto para que, el día siguiente, nuestros scouts sean adultos plenamente integrados en la
                        sociedad,
                        con
                        personalidad propia y un espíritu de compromiso constructivo. Centenares de jóvenes han pasado
                        por nuestra
                        Asociación, creciendo en un ambiente sano y seguro, rodeados de amigos y aprendiz a vivir tanto
                        en la
                        ciudad como la naturaleza.</p>

                    <img class="col-md-3" src="../../../assets/imgs/plan-juventut-2023.jfif" height="130"
                        alt="logo del plan de juventut 2019-2023">

                    <p class="col-md-6">Nuestro Grupo Scout se divide por secciones, que agrupan a los niños
                        y jóvenes
                        por edades,
                        adaptando
                        las
                        actividades a sus necesidades y gustos. Los JÓVENES CASTORES son niños y niñas de 5 a 8
                        años,
                        mientras que a la MANDADA estàn los que tienen entre 8 y 11 años. En la TROPA los niños de 11 a
                        15
                        años se
                        dividen en cuatro grupos denominados patrullas: dos de chicas y dos de chicos. La ESCUCHA la
                        forman
                        nuestros
                        jóvenes de 15 a 18 años. Finalmente encontramos el CLAN para los mayores de 18.</p>

                    <p>Esta se nuestra página web, en ella encontrarás noticías, fotos, enlaces a contenido de interés,
                        información de nuestras actividades, revistas, o la forma de contactar con nosotros.
                        ¡Bienvenidos!
                    </p>
                </div>
            </h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 col-md-3 sm-3 offset-1">
        <h1>Transparencia</h1>
        <h4>
            <p>La Presidencia y el Comité ponen en conocimiento de los socios la siguiente información:</p>
            <p><a href="http://sempreavant.org/documentos%20y%20manuales/InformacionTransparencia.pdf" rel="noopener"
                    target="_blank">Informació institucional, organitzativa y de
                    planificación</a><br>
                <a href="http://sempreavant.org/documentos%20y%20manuales/INFORME_ECONOMICO_2019.pdf" rel="noopener"
                    target="_blank">Informe Economico de la Associación 2019</a><br>
                <a href="http://sempreavant.org/documentos%20y%20manuales/INFORME_ECONOMICO_2018.pdf" rel="noopener"
                    target="_blank">Informe Economic de la Associación 2018</a>
            </p>
        </h4>
    </div>
    <div class="colaboracion col-lg-6 col-md-6 sm-3">
        <h1>Con la colaboración de:</h1>
        <img src="../../../assets/imgs/logo-sempre-teua-llengua.jpg" height="300" alt="logo sempre teua">
        <img src="../../../assets/imgs/logo_dipu.png" height="200" width="200" alt="logo de la diputacion de valencia">
    </div>
</div>