<div class="container my-3">
  <!-- Nombre de la sección -->
  <div class="row">
    <div class=" col-md-6 sm-3 ">
      <div class="custom-container">
        <img src="../../../assets/imgs/logos/logomanada.png" alt="lobatos">
        <h1>Manada</h1>
        <!-- el radius esta en css -->
      </div>
    </div>
    <div class="col-6">
      <div class="custom-container">
        <h2>Quí som?</h2>
        <p>La Manada és la secció dels xiquets i xiquetes des dels <b>8 als 11 anys</b>. La nostra metodología
          està basada en el "Llibre de les Terres Verges", de Rudyard Kipling. </p>
        <p>Els xiquets juguen a ser llobatons de la manada de llops a la que s'integra Mowgli, el cadell humà.
          Dirigits por Akela, el
          cap de la Manada, i altres personatges como Baloo, Bagheera o Kaa, els llobatons se preparen per a
          fer-se grans aprenent la Llei de la Selva, per a poder ser part de la Manada.</p>
      </div>
    </div>
  </div>

  <!-- Texto de la sección -->
  <div class="row my-3">
    <div class="col-12">
      <div class="custom-container">


        <h2>Quines activitats fem?</h2>
        Ens reúnim al nostre cau tots els dissabtes, de 10h a 13h i anem a algún parc a jugar. A la nostra fem
        jocs, tallers de manualitats, dançes, cançons...
        <p>Però lo millor és que una vegada al mes eixim
          d'excursió o acampada. A més dels campaments d'estiu i pasqua.</p>

        <h2>Qué aprenem?</h2>
        Els llobatons sempre aprenen mitjançant el joc. Tots els llobatons aprenen uns hàbits saludables:
        mantindre neta la pell del llop (l'uniform, la seua roba), conviure en sisenes, xicotets grups de sis
        llobatons. Cadascú pot desenvolupar les seues habilitats i obtindre insignies. Conforme creix, cada
        llobató va prenent un paper més protagonista an la vida de la Manada.

        <h2>Cóm juguem?</h2>
        A la nostra Manada hi han molts llobatons. La vida a la Manada té uns signes d'identidat, com un lema
        (<b>FER LO MILLOR</b>), un simbol (<b>TÓTEM</b>) i una senya per a saludar. La Manada es regix per unes lleis i
        unes
        màximes. Els llobatons que les entenen i volen jugar formulen un compromis: la promesa del llobató.
        Encara que ens dividim per sisenes, ens sentims tots units com una Gran Familia, quan fem el Gran
        Clam... I, a la fi, ens convertirem en llops i passarem a la secció de Tropa.
      </div>
    </div>
  </div>

  <!-- Imagen principal -->
  <div class="row my-3 ">
    <div class="col-12">
      <div class="p-3 border bg-light">
        <div id="carouselExampleControls" class="carousel slide col-lg-10 col-md-10 col-sm-10 offset-1">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../../assets/imgs/scouts/manada/manada1.jpg" class="d-block h-100 w-100"
                alt="foto del grupo de los lobatos">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/imgs/scouts/manada/manada2.jpg" class="d-block h-100 w-100"
                alt="foto del grupo de los lobatos">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/imgs/scouts/manada/manada3.jpg" class="d-block h-100 w-100"
                alt="foto del grupo de los lobatos">
            </div>
          </div>
          <button id="botAv" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">ANTERIOR</span>
          </button>
          <button id="botDe" class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">SIGUIENTE</span>
          </button>
        </div>
      </div>
    </div>

  </div>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</div>