<div class="container-fluid">
    <div class="container-fluid">
        <div class="container my-3">
            <!-- Nombre de la sección -->
            <div class="row">
                <div class=" col-md-12 sm-3 ">
                    <div class="custom-container">
                        <h1>Scouters</h1>
                    </div>

                </div>
            </div>

            <!-- Texto de la sección -->
            <div class="row my-3">
                <div class="col-12">
                    <div class="custom-container">
                        <p>Robert Baden-Powell, fundador del Moviment Scout, no va utilitzar el terme "scouter" en el
                            sentit
                            modern, però sí que va desenvolupar el concepte de lideratge adult dins de l'escultisme. En
                            els
                            seus
                            escrits, Baden-Powell va emfatitzar la importància dels adults en rols de lideratge com a
                            facilitadors de l'aprenentatge i l'aventura per als joves. Encara que el terme "scouter" ha
                            evolucionat, l'essència del que Baden-Powell va descriure sobre el lideratge adult en
                            l'escultisme
                            es refereix a adults compromesos en guiar i educar als joves, promocionant el
                            desenvolupament
                            d'habilitats, el caràcter i els valors a través d'activitats pràctiques i el joc.</p>

                        <p>Baden-Powell imaginava als líders scout com a persones que inspiren als joves a aprendre per
                            si
                            mateixos, més que simplement impartir coneixement. En el seu llibre <b>"Escultisme per a
                                Nois"</b>,
                            Baden-Powell va escriure sobre el paper dels adults en el moviment scout, destacant que han
                            d'actuar
                            més com amics i guies dels joves, en lloc d'instructors autoritaris. La idea era que,
                            mitjançant
                            l'exemple i el lideratge, els adults podrien inculcar valors com l'autosuficiència, l'honor,
                            la
                            lleialtat i el respecte pels altres i per la naturalesa.</p>

                        <p>En resum, encara que Baden-Powell no va usar específicament el terme "scouter", la seva visió
                            del
                            lideratge adult en l'escultisme encapsula la funció dels scouters avui en dia: ser líders,
                            mentors i
                            models a seguir que faciliten el creixement personal i el desenvolupament d'habilitats dels
                            joves a
                            través de la metodologia scout.</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="row mt-3 mb-0" style="height: 1vh;">
            <div class="col-12">

            </div>

        </div>
    </div>
</div>