<div class="container my-3">
    <!-- Nombre de la sección -->
    <div class="row">
        <div class=" col-md-12 sm-3 ">
            <div class="custom-container">
                <h1>Tropa</h1>
            </div>

        </div>
    </div>



    <!-- Texto de la sección -->
    <div class="row my-3">
        <div class="col-12">
            <div class="custom-container">
                <h2>Qué és la Tropa?</h2>
                <p>La Tropa és la secció scout per als xics i xiques d'entre <b>11 i 15 anys</b>. La Tropa es divideix
                    en
                    varies patrulles, cadascuna de las quals pren el nom d'un animal.</p>
                <p>Actualment al Sempre Avant tenim 4
                    patrulles:</p>
                <ul>
                    <b>
                        <li>Castors</li>
                        <li>Oronetes</li>
                        <li>Llops</li>
                        <li>Panteres</li>
                    </b>
                </ul>

                <h2>Qué fa la Tropa?</h2>
                <p>Unir-se a la Tropa et permetrà viure un fum d'aventures junt a gent de la teua mateixa edat. A la
                    tropa faràs nous amics, conviuiràs amb la natura, coneixeràs millor la teua ciutat i aprendràs
                    moltes tècniques scouts (nusos, cartografía, cuina, socorrisme...) Si vols formar part de la nostra
                    Tropa pasa't pel nostre local, allí ens reunim tots els dissabtes, de 10h a 13h.</p>
                <p><b>Aníma't i vine a coneixer-nos!</b></p>

            </div>
        </div>
    </div>

</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>