<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contenedor Personalizado</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="tropa.component.css">
</head>

<body>
    <div class="container my-3">
        <!-- Nombre de la sección -->
        <div class="row">
            <div class=" col-md-12 sm-3 ">
                <div class="custom-container" style="text-align: center;">
                    <h1>Tropa</h1>
                </div>

            </div>
        </div>



        <!-- Texto de la sección -->
        <div class="row my-3">
            <div class="col-12">
                <div class="custom-container">
                    <h2>Qué és la Tropa?</h2>
                    La Tropa és la secció scout per als xics i xiques d'entre 11 i 15 anys. La Tropa es divideix en
                    varies patrulles, cadascuna de las quals pren el nom d'un animal. Actualment al Sempre Avant tenim 4
                    patrulles: Castors, Oronetes, Llops i Panteres.

                    <h2>Qué fa la Tropa?</h2>
                    Unir-se a la Tropa et permetrà viure un fum d'aventures junt a gent de la teua mateixa edat. A la
                    tropa faràs nous amics, conviuiràs amb la natura, coneixeràs millor la teua ciutat i aprendràs
                    moltes tècniques scouts (nusos, cartografía, cuina, socorrisme...) Si vols formar part de la nostra
                    Tropa pasa't pel nostre local, allí ens reunim tots els dissabtes, de 10h a 13h. Aníma't i vine a
                    coneixer-nos!

                </div>
            </div>
        </div>

    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
    <div class="container">
        <div class="custom-container">
            <div class="row">
                <div class="col-12 custom-header">
                    Metodología de los Jóvenes Castores
                </div>
            </div>
            <div class="col-12 custom-header">
                Los animales del bosque
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-4 character-card">
                    <img src="../../../assets/imgs/personajes_JJCC/keeo.jpg" width="80" height="80" alt="Keeo"
                        class="character-image">
                    <p class="character-text">Keeo, el sabio castor es el líder de la colonia de castores.</p>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 character-card">
                    <img src="../../../assets/imgs/personajes_JJCC/ras.jpg" width="80" height="80" alt="Ras"
                        class="character-image">
                    <p class="character-text">Ras, el gato enseña a los castores a ser limpios y aseados.</p>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 character-card">
                    <img src="../../../assets/imgs/personajes_JJCC/salky.jpg" width="80" height="80" alt="Salky"
                        class="character-image">
                    <p class="character-text">Salky, el habilidoso pajarito siempre juega junto con el resto de amigos
                        del bosque.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-lg-6 col-sm-6 character-card">
                    <img src="../../../assets/imgs/personajes_JJCC/baru.jpg" width="80" height="80" alt="Baru"
                        class="character-image">
                    <p class="character-text">Baru, la pequeña hormiguita siempre es trabajadora y recoge despues de
                        jugar.</p>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-6 character-card">
                    <img src="../../../assets/imgs/personajes_JJCC/rebruconpelo.jpg" width="80" height="80" alt="Rebru"
                        class="character-image">
                    <p class="character-text">Rebru, el oso enseña a la colonia de castores los misterios y la
                        importancia de la
                        naturaleza.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-6 custom-header">
                Ley de la Colonia</div>
            <div class="row">

                <p class="character-text">Un castor es alegre y juega con todos</p>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-6 custom-header">
                    Lema</div>
                <p class="character-text">Compartir</p>


            </div>
            <div class="row">

            </div>

            <div class="row">
                <div class="col-12 custom-header">
                    Oración del Joven Castor</div>
                <p> Señor al empezar esta jornada
                    nos invitas a participar, haz que
                    nuestra tarea sea útil para todos
                    para que sepamos construir un mundo que te guste.</p>

            </div>
            Promesa del Joven Castor
            Yo os prometo cumplir mi labor como joven castor y participar con alegría en la colonia

            Grito
            CASTORES ¿QUE HACEMOS?
            ¡¡¡COMPARTIR!!!
        </div>

        <!-- Imagen principal -->
        <div class="row my-3">
            <div class="col-12">
                <div class="p-3 border bg-light">Imagen sección</div>
            </div>
        </div>



    </div>


    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>