<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ejemplo con Bootstrap</title>
  <!-- Asegúrate de incluir el enlace al CSS de Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>

<div class="container my-3">
  <!-- Nombre de la sección -->
  <div class="row">
    <div class="col-md-6 sm-3 ">
      <div class="p-3 border bg-light" style="text-align: center;">Jovenes Castores</div>
    </div>
  </div>
  
  <!-- Imagen principal -->
  <div class="row my-3">
    <div class="col-12">
      <div class="p-3 border bg-light">Imagen sección</div>
    </div>
  </div>
  
  <!-- Texto que describe la sección/imágen -->
  <div class="row">
    <div class="col-12">
      <div class="p-3 border bg-light">alguna imagen que coincida mejor con los colores corporativos o implemente un color sólido relacionado con la sección o de nuestros colores corporativos</div>
    </div>
  </div>
  
  <!-- Texto de la sección -->
  <div class="row my-3">
    <div class="col-12">
      <div class="p-3 border bg-light">	
        Jóvenes Castores
        
        
        ¿Quieres saber quiénes somos? ¿Te gustaría ser scout de este grupo?
        
        Si tienes entre 5 y 8 años ésta es tu sección!
        
        Nuestras máximas las representan 4 personajes:
        RAS (gato) Aseado
        BARU (hormiga) Trabajador
        REBRU (oso) Amigo de la naturaleza
        SALKY (Pájaro) Hábil
        
        Nuestra casa es la madriguera en el río. Nuestro maestro es KEEO (el viejo castor)
        
        Nos reunimos todos los sábados de 10h. a 13h. HACEMOS EXCURSIONES TODOS LOS MESES Y REALIZAMOS ACTIVIDADES MUY DIVERTIDAS.
        
        ¡ANÍMATE Y VEN A JUGAR CON NOSOTROS!</div>
    </div>
  </div>
  
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>

