<div class="container my-3">
  <!-- Nombre de la sección -->
  <div class="row">
    <div class=" col-md-12 sm-3 ">
      <div class="custom-container" style="text-align: center;">
        <h1>Joves Castors</h1>
      </div>
    </div>
  </div>

  <!-- Texto de la sección -->
  <div class="row my-3">
    <div class="col-12">
      <div class="custom-container">
        <h2>Vols saber qui som? T'agradaria ser scout d'este grup?</h2>

        Si tens entre 5 i 8 anys esta és la teua secció!

        La nostra casa és el cau en el riu. El nostre mestre és KEEO (el vell castor)

        Ens reunim tots els dissabtes de 10h. a 13h. FEM EXCURSIONS TOTS ELS MESOS I REALITZEM ACTIVITATS MOLT
        DIVERTIDES.

        ANIMA'T I VEUEN A JUGAR AMB NOSALTRES!
      </div>
    </div>
  </div>

</div>

<div class="container">
  <div class="custom-container">
    <div class="row">
      <div class="col-12 custom-header">
        Metodologia dels Joves Castors
      </div>
    </div>
    <div class="col-12 custom-header">
      Els animals del bosc
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-4 character-card">
        <img src="../../../assets/imgs/personajes_JJCC/keeo.jpg" width="80" height="80" alt="Keeo"
          class="character-image">
        <p class="character-text">Keeo, el savi castor és el líder de la colònia de castors.</p>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-4 character-card">
        <img src="../../../assets/imgs/personajes_JJCC/ras.jpg" width="80" height="80" alt="Ras"
          class="character-image">
        <p class="character-text">Ras, el gat ensenya als castors a ser nets i endreçats.</p>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-4 character-card">
        <img src="../../../assets/imgs/personajes_JJCC/salky.jpg" width="80" height="80" alt="Salky"
          class="character-image">
        <p class="character-text">Salky, l'hàbil ocellet sempre juga juntament amb la resta d'amics del bosc.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-lg-6 col-sm-6 character-card">
        <img src="../../../assets/imgs/personajes_JJCC/baru.jpg" width="80" height="80" alt="Baru"
          class="character-image">
        <p class="character-text">Baru, la xicoteta formigueta sempre és treballadora i arreplega despres de jugar.</p>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-6 character-card">
        <img src="../../../assets/imgs/personajes_JJCC/rebruconpelo.jpg" width="80" height="80" alt="Rebru"
          class="character-image">
        <p class="character-text">Rebru, l'os ensenya a la colònia de castors els misteris i la importància de la
          naturalesa.</p>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-6 custom-header">
      Llei de la Colònia</div>
    <div class="row">

      <p class="character-text">Un castor es alegre y juga amb tots</p>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-6 custom-header">
        Lema del Jove Castor</div>
      <p class="character-text">COMPARTIR</p>


    </div>
    <div class="row">

    </div>

    <div class="row">
      <div class="col-12 custom-header">
        Oració del Jove Castor</div>
      <p> Senyor, al començar esta jornada
        ens invites a participar,
        fes que la nostra tasca siga útil per a tots
        per a que sapiguem construir
        un mon que t'agrade.</p>

    </div>
    Promesa del Jove Castor
    Jo vos promet complir la meva tasca com a jove castor i participar amb alegria en la colònia

    Crit
    CASTORS, QUE FEM?
    ¡¡¡COMPARTIR!!!
  </div>

  <!-- Imagen principal -->
  <div class="row my-3">
    <div class="col-12">
      <div class="p-3 border bg-light">Image secció</div>
    </div>
  </div>



</div>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>