<div class="container my-3">
  <!-- Nombre de la sección -->
  <div class="row">
    <div class=" col-md-12 sm-3 ">
      <div class="custom-container">
        <h1>Jóvenes Castores</h1>
      </div>
    </div>
  </div>

  <!-- Texto de la sección -->
  <div class="row my-3">
    <div class="col-12">
      <div class="custom-container">
        <h2>¿Quieres saber quiénes somos? ¿Te gustaría ser scout de este grupo?</h2>

        Si tienes entre 5 y 8 años ésta es tu sección!

        Nuestra casa es la madriguera en el río. Nuestro maestro es KEEO (el viejo castor)

        Nos reunimos todos los sábados de 10h. a 13h. HACEMOS EXCURSIONES TODOS LOS MESES Y REALIZAMOS ACTIVIDADES MUY
        DIVERTIDAS.

        ¡ANÍMATE Y VEN A JUGAR CON NOSOTROS!
      </div>
    </div>
  </div>

</div>

<div class="container">
  <div class="custom-container">
    <div class="row">
      <div class="col-12 custom-header">
        Metodología de los Jóvenes Castores
      </div>
    </div>
    <div class="col-12 custom-header">
      Los animales del bosque
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-4 character-card">
        <img src="../../../assets/imgs/personajes_JJCC/keeo.jpg" width="80" height="80" alt="Keeo"
          class="character-image">
        <p class="character-text">Keeo, el sabio castor es el líder de la colonia de castores.</p>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-4 character-card">
        <img src="../../../assets/imgs/personajes_JJCC/ras.jpg" width="80" height="80" alt="Ras"
          class="character-image">
        <p class="character-text">Ras, el gato enseña a los castores a ser limpios y aseados.</p>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-4 character-card">
        <img src="../../../assets/imgs/personajes_JJCC/salky.jpg" width="80" height="80" alt="Salky"
          class="character-image">
        <p class="character-text">Salky, el habilidoso pajarito siempre juega junto con el resto de amigos del bosque.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-lg-6 col-sm-6 character-card">
        <img src="../../../assets/imgs/personajes_JJCC/baru.jpg" width="80" height="80" alt="Baru"
          class="character-image">
        <p class="character-text">Baru, la pequeña hormiguita siempre es trabajadora y recoge despues de jugar.</p>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-6 character-card">
        <img src="../../../assets/imgs/personajes_JJCC/rebruconpelo.jpg" width="80" height="80" alt="Rebru"
          class="character-image">
        <p class="character-text">Rebru, el oso enseña a la colonia de castores los misterios y la importancia de la
          naturaleza.</p>
      </div>
    </div>
    <!--  -->
    <div class="row">
      <div class="col-6">
        <div class="custom-header">
          Ley de la Colonia
        </div>
        <p class="character-text">Un castor es alegre y juega con todos</p>
      </div>
      <div class="col-6">
        <div class="custom-header">
          Lema del Joven Castor
        </div>
        <p class="character-text">COMPARTIR</p>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <div class="custom-header">
          Oración del Joven Castor
        </div>
        <p class="character-text">Señor al empezar esta jornada
          nos invitas a participar, haz que
          nuestra tarea sea útil para todos
          para que sepamos construir un mundo que te guste.</p>
      </div>
      <div class="col-6">
        <div class="custom-header">
          Promesa del Jove Castor</div>
        <p class="character-text">Yo prometo cumplir mi labor como joven castor y participar con alegría en la colonia
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="custom-header">
          Grito
        </div>
        <p class="character-text">CASTORES ¿QUE HACEMOS?
          ¡¡¡COMPARTIR!!!</p>
      </div>
    </div>

    <!-- Imagen principal -->
    <div class="row my-3">
      <div class="col-12">
        <div class="p-3 border bg-light">Imagen sección</div>
      </div>
    </div>



  </div>


  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>