@if (users.length > 0 && updating == true) {
<table class="table">
    <thead>
        <tr>
            <th scope="col">name</th>
            <th scope="col">Edad</th>
            <th scope="col">Rol</th>
            <th scope="col">Grupo</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
            <!-- Agrega más columnas según los datos que devuelva tu API -->
        </tr>
    </thead>
    <tbody>

        @for (item of users; track item; let i = $index) {
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.edad }}</td>
            <td>{{ item.rol }}</td>
            <td>{{ item.group_id }}</td>
            <td (click)="onClick(i)"> <img class="icons" src="../../../assets/imgs/actualizar.png" alt="personita login"
                    style="margin-right: 2vh; height: 5vh;"> </td>
            <td (click)="clickDelete(i)"> <img class="icons" src="../../../assets/imgs/delete.png" alt="personita login"
                    style="margin-right: 2vh; height: 4vh;"> </td>
        </tr>
        }
    </tbody>
</table>
<div class="pagination">
    <button (click)="previousPage()" [disabled]="currentPage === 1">Anterior</button>
    <span>Página {{ currentPage }} de {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">Siguiente</button>
</div>
}
@if (users.length <=0 && updating==true) { <h2> Los datos se están cargando y esto puede tomar un buen rato </h2>
    }

    @if (updating == false){
    <aside>

        <div class="row justify-content-center" style="background-color: darkgrey;">
            <div class="col-12 col-md-7">
                <div class="container-fluid py-5">
                    <div class="container"
                        style="background-color: white; border: 1px solid white; border-radius: 7px;">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-12">

                                    <!-- form -->
                                    <h3>Formulario de actualización de usuarios</h3>
                                    <form (ngSubmit)="onSubmit()" [formGroup]="reactiveForm">
                                        <div class="container col-12 col-md-7 justify-content-center">
                                            <div class="row justify-content-center">
                                                <div class="mb-3 col-12">
                                                    <label for="group_id" class="form-label">Grupo
                                                        Perteneciente ID</label>
                                                    <input style="border: 2px solid #904cb4 !important;"
                                                        id="group_id"
                                                        formControlName="group_id" type="text"
                                                        class="form-control"
                                                        aria-describedby="group_idHelp">
                                                    <div id="group_idHelp" class="form-text">name del
                                                        grupo
                                                        al que pertenece el usuario.
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row justify-content-center">
                                                <div class="mb-3 col-12">
                                                    <label for="name" class="form-label">name</label>
                                                    <input style="border: 2px solid #904cb4 !important;" id="name"
                                                        formControlName="name" type="text" class="form-control"
                                                        id="name" value="{{name}}">
                                                </div>
                                            </div>

                                            <div class="row justify-content-center">
                                                <div class="mb-3 col-12">
                                                    <label for="edad" class="form-label">Edad</label>
                                                    <input style="border: 2px solid #904cb4 !important;" id="edad"
                                                        formControlName="edad" type="number" class="form-control"
                                                        id="edad">
                                                </div>
                                            </div>

                                            <div class="row justify-content-center">
                                                <div class="mb-3 col-12">
                                                    <label for="rol" class="form-label">Rol</label>
                                                    <input style="border: 2px solid #904cb4 !important;" id="rol"
                                                        formControlName="rol" type="text" class="form-control" id="rol">
                                                </div>
                                            </div>

                                            <div class="row justify-content-center">
                                                <div class="mb-3 col-12">
                                                    <label for="password" class="form-label">Contraseña</label>
                                                    <input style="border: 2px solid #904cb4 !important;" id="password"
                                                        formControlName="password" type="password" class="form-control"
                                                        id="password">
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="mb-3 col-9 col-md-3">
                                                    <button type="submit" class="btn">Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <!-- form -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </aside>

    }


    <!-- Agrega más celdas según los datos que devuelva tu API -->