<nav class="navbar navbar-expand-lg navbar-dark" id="header">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/home" routerLinkActive="active">Navbar scroll</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
            aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        L'Associació
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                        <li><a class="dropdown-item" href="#">Nuestra historia</a></li>
                        <li><a class="dropdown-item" href="#">Organización</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Seccions
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                      <li><a class="dropdown-item" routerLink="/castores" routerLinkActive="active">Jóvenes Castores</a></li>
                      <li><a class="dropdown-item" routerLink="/manada" routerLinkActive="active">Manada</a></li>
                      <li><a class="dropdown-item" routerLink="/tropa" routerLinkActive="active">Tropa</a></li>
                      <li><a class="dropdown-item" routerLink="/esculta" routerLinkActive="active">Esculta</a></li>
                      <li><a class="dropdown-item" routerLink="/clan" routerLinkActive="active">Clan</a></li>
                      <li><a class="dropdown-item" routerLink="/scouters" routerLinkActive="active">Scouters</a></li>
                    </ul>
                  </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Multimedia
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                        <li><a class="dropdown-item" href="#">Fotos</a></li>
                        <li><a class="dropdown-item" href="#">Videos</a></li>
                        <li><a class="dropdown-item" href="#">Audio </a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/test" routerLinkActive="active">Publicaciones</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        La escolta
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                        <li><a class="dropdown-item" routerLink="/badenpowell">Baden Powell</a></li>
                        <li><a class="dropdown-item" href="#">Historia</a></li>
                        <li><a class="dropdown-item" href="#">San Jordi</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/test" routerLinkActive="active">Calendario actividades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/test" routerLinkActive="active">Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/test" routerLinkActive="active">Panel Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/test" routerLinkActive="active">testevento</a>
                </li>
            </ul>
            <a href="https://github.com/"><img src="../../../assets/imgs/idio_cas.png" alt="bandera españa"></a>
        </div>
    </div>
</nav>