<div class="container-fluid">
    <div class="card text-bg-light border-info mb-3">
        <div class="card-body">
            <h1>Benvinguts a l'Associació Sempre Avant</h1>
            <h4>
                <p>Som una associació juvenil sense anim de lucre, amb seu al barri de El Grao, a la ciutat de València.
                    Dins de l'Associació contem amb un grup scout, que des del novembre de 1971 treballa amb xiquets i
                    joves, aplicant el métode scout, l'Escoltisme (regit per les normes internacionals scouts), un
                    projecte
                    educatiu mondial amb més d'un segle d'antiguetat. Eduquem en valors mitjançant jocs, acampades i
                    diferents tipus d'activitats lúdiques.</p>

                <!-- logo plan jove -->

                <p>Tot açò per a que, l'endemà, els nostres scouts siguen adults plenament integrats en la societat, amb
                    personalitat propia i un esperit de compromis constructiu. Centenars de joves han passat per la
                    nostra
                    Associació, creixent en un ambient sa i segur, envoltats d'amics i aprenent a viure tant a la ciutat
                    com
                    a la naturalesa.</p>

                <p>El nostre Grup Scout es divideix per seccions, que agrupen als xiquets i joves per edats, adaptant
                    les
                    activitats a les seues necesitats i gustos. Els JOVES CASTORS son xiquets i xiquetes de 5 a 8 anys,
                    mentre que a la MANADA estàn els que tenen entre 8 i 11 anys. A la TROPA els xics de 11 a 15 anys es
                    divideixen en quatre grups anomenats patrulles: dos de xiques i dos de xics. L'ESCOLTA la formen els
                    nostres joves de 15 a 18 anys. Finalment trobem el CLAN per als majors de 18.</p>

                <p>Esta es la nostra pàgina web, a ella trobaràs noticies, fotos, enllaços a contingut d'interés,
                    informació de les nostres activitats, revistes, o la forma de contactar amb nosaltres. Benvinguts!
                </p>
            </h4>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 card-body">
                <h1>Transparència</h1>
                <h4>
                    <p>La Presidència i el Comitè posen en coneixement dels socis la següent informació:</p>
                    <p><a href="http://sempreavant.org/documentos%20y%20manuales/InformacionTransparencia.pdf"
                            rel="noopener" target="_blank">Informació institucional, organitzativa i de
                            planificació</a><br>
                        <a href="http://sempreavant.org/documentos%20y%20manuales/INFORME_ECONOMICO_2019.pdf"
                            rel="noopener" target="_blank">Informe Econòmic Associació 2019</a><br>
                        <a href="http://sempreavant.org/documentos%20y%20manuales/INFORME_ECONOMICO_2018.pdf"
                            rel="noopener" target="_blank">Informe Econòmic Associació 2018</a>
                    </p>
                </h4>
            </div>
            <div class="col-lg-6 card-body">
                <h1>Amb la col·laboració de:</h1>
                <img src="../../../../imgs/logo-sempre-teua-llengua.jpg" alt="logo sempre teua">
            </div>
        </div>
    </div>
</div>