<div class="container my-3">
    <!-- Nombre de la sección -->
    <div class="row">
        <div class=" col-md-12 sm-3 ">
            <div class="custom-container">
                <h1>Clan</h1>
            </div>

        </div>
    </div>

    <!-- Texto de la sección -->
    <div class="row my-3">
        <div class="col-12">
            <div class="custom-container">
                Somos un grupo de gente joven,mayores de 18 años. Nuestro lema es el SERVICIO, y nuestro principal reto,
                conseguir divertirnos y a la vez ayudar a hacer un mundo mejor.
                Nos reunimos, generalmente los sábados por la mañana, pero no es un horario fijo y varía en función de
                las actividades que tengamos previsto hacer.

                Entre todos proponemos, elegimos y preparamos nuestras actividades, por medio de la elaboración de
                proyectos. Para reducir el coste de las actividades solemos preparar medios de autofinanciación. Algunos
                ejemplos de actividades que hemos hecho últimamente son:

                <ul>
               <li> De Aventura: Espeleología, barranquismo, rafting, etc.</li>
               <li>En la naturaleza: senderismo, acampadas, reforestación…</li>
               <li>De grupo: Viajes, dinámicas, picnics, festivales, celebraciones, ayuda al Grupo scout y a otros
                colectivos, etc.</li>
            </ul>
                También en el Clan podrás formarte para incorporarte al equipo de scouters (monitores) del Grupo scout y
                participar en sus diferentes actividades. Además, facilitamos y tutorizamos las prácticas para obtener
                el título oficial de Monitor de Tiempo Libre.
                Tanto en la preparación de nuestras actividades, como en la práctica de MTL, como en los servicios a la
                comunidad, contamos con el apoyo y guía de nuestro consejero, un monitor ya titulado.
                ¡Atrévete a aprovechar tu tiempo!
                ¡Atrévete a pasarlo bien de forma diferente!
                ¡Ayudanos a hacer un mundo mejor, más justo y solidario!
                ¡Ven a conocernos!

            </div>
        </div>
    </div>

</div>