<div class="container my-3">
  <!-- Nombre de la sección -->
  <div class="row">
    <div class=" col-md-6 sm-3 ">
      <div class="custom-container">
        <img src="../../../assets/imgs/logos/logoclan.png" alt="clan">
        <h1>Clan</h1>
      </div>
    </div>
    <div class="col-6">
      <div class="custom-container">
        <h2>¿Qué es el Clan?</h2>
        <p>SSomos un grupo de gente joven, <b>mayores de 18 años</b>. Nuestro lema es el SERVICIO, y nuestro
          principal reto,
          conseguir divertirnos y a la vez ayudar a hacer un mundo mejor.
        </p>
        <p>Nos reunimos, generalmente los sábados por la mañana, pero no es un horario fijo y varía en función de
          las actividades que tengamos previsto hacer.</p>
      </div>
    </div>
  </div>

  <!-- Texto de la sección -->
  <div class="row my-3">
    <div class="col-12">
      <div class="custom-container2">


        Entre todos proponemos, elegimos y preparamos nuestras actividades, por medio de la elaboración de
        proyectos. Para reducir el coste de las actividades solemos preparar medios de autofinanciación. Algunos
        ejemplos de actividades que hemos hecho últimamente son:

        <ul>
          <li> <b>De Aventura:</b> Espeleología, barranquismo, rafting, etc.</li>
          <li><b>En la naturaleza:</b> senderismo, acampadas, reforestación…</li>
          <li><b>De grupo:</b> Viajes, dinámicas, picnics, festivales, celebraciones, ayuda al Grupo scout y a
            otros
            colectivos, etc.</li>
        </ul>
        <p>También en el Clan podrás formarte para incorporarte al equipo de scouters (monitores) del Grupo
          scout y
          participar en sus diferentes actividades. Además, facilitamos y <b>tutorizamos las prácticas para
            obtener
            el título oficial de Monitor de Tiempo Libre.</b>
        <p>Tanto en la preparación de nuestras actividades, como en la práctica de MTL, como en los servicios a
          la
          comunidad, contamos con el apoyo y guía de nuestro consejero, un monitor ya titulado.</p>
        <b>
          <p>¡Atrévete a aprovechar tu tiempo!</p>
          <p>¡Atrévete a pasarlo bien de forma diferente!</p>
          <p>¡Ayudanos a hacer un mundo mejor, más justo y solidario!</p>
          <p>¡Ven a conocernos!</p>
        </b>
      </div>
    </div>
  </div>
  <div class="row my-3 ">
    <div class="col-12">
      <div class="p-3 border bg-light">
        <div id="carouselExampleControls" class="carousel slide col-lg-10 col-md-10 col-sm-10 offset-1">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../../assets/imgs/scouts/clan/clan1.jpg" class="d-block h-100 w-100" alt="foto del clan">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/imgs/scouts/clan/clan2.jpg" class="d-block h-100 w-100" alt="foto del clan">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/imgs/scouts/clan/clan3.jpg" class="d-block h-100 w-100" alt="foto del clan">
            </div>
          </div>
          <button id="botAv" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">ANTERIOR</span>
          </button>
          <button id="botDe" class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">SIGUIENTE</span>
          </button>
        </div>
      </div>
    </div>

  </div>

</div>