<div class="container-fluid">
    <div class="container my-3">
 
        <div class="row">
            <div class=" col-md-12 sm-3 ">
                <div class="custom-container">
                    <h1>El Escultismo</h1>
                </div>
    
            </div>
        </div>
    
    
        <div class="row my-3">
            <div class="col-12">
                <div class="custom-container2">
                    <p>El Escultismo, en inglés "scouting", es el nombre que recibe la metodología educativa que practican millones
                        de jóvenes y niños de todo el mundo, conocidos como scouts.</p>
    
                    <p>CARACTERÍSTICAS DEL ESCULTISMO
    
                        <ul>
                            <li>Es un método <b>completo y adaptado</b>. Los chicos pueden participar en el Escultismo desde su infancia
                        hasta llegar a la edad adulta. En este proceso irán pasando por diversas etapas (secciones)
                        adaptadas a las necesidades propias de cada edad.</li>
                            <li>Es totalmente voluntario. Los scouts se adhieren al Escultismo comprometiéndose a aceptar sus
                        normas (Ley Scout) de forma voluntaria.</li>
                            <li>Es un método individualizado, pero no individualista. En el Escultismo, el scout desarrolla sus
                        capacidades, pero siempre integrándose dentro de un colectivo.
                        Es participativo, pues tiene éxito solo cuando se cuenta con la implicación activa de los chicos y su
                        familia.</li>
                            <li>Es un método complementario que pone en práctica hábitos y capacidades que en muchos casos no se
                        trabajan en los métodos de formación reglada y que serán útiles en la vida del scout
                        (responsabilidad, camaradería, iniciativa...)"</li>
                            <li>Fomenta el respeto y la protección de la <b>naturaleza</b>, siendo esta el lugar idóneo para las actividades
                        scouts.</li></ul>
                        <h2>La LEY SCOUT</h2>
    
                        Aunque B.P. escribió diez leyes scouts, en nuestro grupo las hemos reducido a estas siete.
    
                    <ul>
                        <li>Un scout es leal.</li>
                        <li>Un scout es digno de confianza.</li>
                        <li>Un scout es amable y generoso.</li>
                        <li>Un scout es hermano de todo scout y amigo del mundo.</li>
                        <li>Un scout ama y protege la naturaleza.</li>
                        <li>Un scout es valiente ante las dificultades.</li>
                        <li>Un scout es responsable, se respeta a sí mismo y a los demás.</li>
                    </ul>
    
                    <p>En resumen, aunque Baden-Powell no usó específicamente el término "scouter", su visión del
                        liderazgo adulto en el escultismo encapsula la función de los scouters hoy en día: ser líderes, mentores y
                        modelos a seguir que facilitan el crecimiento personal y el desarrollo de habilidades de los jóvenes a
                        través de la metodología scout.</p>
                </div>
            </div>
        </div>
    
    </div>
    <div class="row mt-3 mb-0" style="height: 1vh;">
        <div class="col-12">
          
        </div>
    
      </div>    
</div>