<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cronología de l'escoltime</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .text-bg-light {
      color: #ffffff; /* Cambia el color del texto si es necesario */
    }
  </style>
</head>
<body>

<div class="container-fluid">
  <div class="card text-bg-light">
    <div class="card-body">
      <h1 class="titCard">Cronología de l'escoltime</h1>
      <div class="row">
        <p class="col-lg-12 col-md-12 col-sm-12 text-center" style="font-size: 5vh;">Fets principals</p>
        <p class="col-lg-12 col-md-12 col-sm-12 text-center" style="font-size: 3vh;">Fent ús de les fletxes
          d'abaix podem veure la trajectòria dels exploradors i Baden Powell.</p>

        <div id="carouselExampleControls" class="carousel slide col-lg-10 col-md-10 col-sm-10 offset-1">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">
                        <a href="https://issuu.com/sempreavant/docs/revista_52/1?e=10759690/89165073" class="col-lg-3 col-md-3 col-sm-3"><img src="../../../assets/imgs/baden_powell/BP2.jpg" alt="Imagen 1"></a>
                        <a href="https://issuu.com/sempreavant/docs/revista_52/1?e=10759690/89165073" class="col-lg-3 col-md-3 col-sm-3"><img src="../../../assets/imgs/baden_powell/BP2.jpg" alt="Imagen 1"></a>
                        <a href="https://issuu.com/sempreavant/docs/revista_52/1?e=10759690/89165073" class="col-lg-3 col-md-3 col-sm-3"><img src="../../../assets/imgs/baden_powell/BP2.jpg" alt="Imagen 1"></a>
                        <a href="https://issuu.com/sempreavant/docs/revista_52/1?e=10759690/89165073" class="col-lg-3 col-md-3 col-sm-3"><img src="../../../assets/imgs/baden_powell/BP2.jpg" alt="Imagen 1"></a>
                        <a href="https://issuu.com/sempreavant/docs/revista_52/1?e=10759690/89165073" class="col-lg-2 col-md-2 col-sm-2 offset-1"><p style="margin-left: auto; margin-right: auto;">Nº 52 <br>Sempre Avant al día</p></a>
                        <a href="https://issuu.com/sempreavant/docs/revista_52/1?e=10759690/89165073" class="col-lg-2 col-md-2 col-sm-2 offset-1"><p style="margin-left: auto; margin-right: auto;">Nº 51 <br>Sempre Avant al día</p></a>
                        <a href="https://issuu.com/sempreavant/docs/revista_52/1?e=10759690/89165073" class="col-lg-2 col-md-2 col-sm-2 offset-1"><p style="margin-left: auto; margin-right: auto;">Nº 50 <br>Sempre Avant al día</p></a>
                        <a href="https://issuu.com/sempreavant/docs/revista_52/1?e=10759690/89165073" class="col-lg-2 col-md-2 col-sm-2 offset-1"><p style="margin-left: auto; margin-right: auto;">Nº 49 <br>Sempre Avant al día</p></a>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <img src="../../../assets/imgs/baden_powell/BP2.jpg" class="col-lg-3 col-md-3 col-sm-3" alt="Imagen 1">
                        <img src="../../../assets/imgs/baden_powell/BP2.jpg" class="col-lg-3 col-md-3 col-sm-3" alt="Imagen 2">
                        <img src="../../../assets/imgs/baden_powell/BP2.jpg" class="col-lg-3 col-md-3 col-sm-3" alt="Imagen 2">
                        <img src="../../../assets/imgs/baden_powell/BP2.jpg" class="col-lg-3 col-md-3 col-sm-3" alt="Imagen 2">
                        <p class="col-lg-2 col-md-2 col-sm-2 offset-1" style="margin-left: auto; margin-right: auto;">Nº 48 <br>Sempre Avant al día</p>
                        <p class="col-lg-2 col-md-2 col-sm-2 offset-1" style="margin-left: auto; margin-right: auto;">Nº 47 <br>Sempre Avant al día</p>
                        <p class="col-lg-2 col-md-2 col-sm-2 offset-1" style="margin-left: auto; margin-right: auto;">Nº 46 <br>Sempre Avant al día</p>
                        <p class="col-lg-2 col-md-2 col-sm-2 offset-1" style="margin-left: auto; margin-right: auto;">Nº 45 <br>Sempre Avant al día</p>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <img src="../../../assets/imgs/baden_powell/BP2.jpg" class="col-lg-3 col-md-3 col-sm-3" alt="Imagen 1">
                        <img src="../../../assets/imgs/baden_powell/BP2.jpg" class="col-lg-3 col-md-3 col-sm-3" alt="Imagen 2">
                        <img src="../../../assets/imgs/baden_powell/BP2.jpg" class="col-lg-3 col-md-3 col-sm-3" alt="Imagen 2">
                        <img src="../../../assets/imgs/baden_powell/BP2.jpg" class="col-lg-3 col-md-3 col-sm-3" alt="Imagen 2">
                        <p class="col-lg-2 col-md-2 col-sm-2 offset-1" style="margin-left: auto; margin-right: auto;">Nº 44 <br>Sempre Avant al día</p>
                        <p class="col-lg-2 col-md-2 col-sm-2 offset-1" style="margin-left: auto; margin-right: auto;">Nº 43 <br>Sempre Avant al día</p>
                        <p class="col-lg-2 col-md-2 col-sm-2 offset-1" style="margin-left: auto; margin-right: auto;">Nº 42 <br>Sempre Avant al día</p>
                        <p class="col-lg-2 col-md-2 col-sm-2 offset-1" style="margin-left: auto; margin-right: auto;">Nº 41 <br>Junio 2016</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <img src="../../../assets/imgs/baden_powell/BP2.jpg" class="col-lg-3 col-md-3 col-sm-3" alt="Imagen 1">
                        <img src="../../../assets/imgs/baden_powell/BP2.jpg" class="col-lg-3 col-md-3 col-sm-3" alt="Imagen 2">
                        <img src="../../../assets/imgs/baden_powell/BP2.jpg" class="col-lg-3 col-md-3 col-sm-3" alt="Imagen 2">
                        <img src="../../../assets/imgs/baden_powell/BP2.jpg" class="col-lg-3 col-md-3 col-sm-3" alt="Imagen 2">
                        <p class="col-lg-2 col-md-2 col-sm-2 offset-1" style="margin-left: auto; margin-right: auto;">Nº 40 <br>Marzo 2016</p>
                        <p class="col-lg-2 col-md-2 col-sm-2 offset-1" style="margin-left: auto; margin-right: auto;">Nº 39 <br>Noviembre 2015</p>
                        <p class="col-lg-2 col-md-2 col-sm-2 offset-1" style="margin-left: auto; margin-right: auto;">Nº 38 <br>Junio 2015</p>
                        <p class="col-lg-2 col-md-2 col-sm-2 offset-1" style="margin-left: auto; margin-right: auto;">Nº 37 <br>Marzo 2015</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <a src="https://issuu.com/sempreavant/docs/revista_52/1?e=10759690/89165073"><img src="../../../assets/imgs/baden_powell/BP2.jpg" class="col-lg-3 col-md-3 col-sm-3" alt="Imagen 1"></a>
                        <img src="../../../assets/imgs/baden_powell/BP2.jpg" class="col-lg-3 col-md-3 col-sm-3" alt="Imagen 2">
                        <img src="../../../assets/imgs/baden_powell/BP2.jpg" class="col-lg-3 col-md-3 col-sm-3" alt="Imagen 2">
                        <img src="../../../assets/imgs/baden_powell/BP2.jpg" class="col-lg-3 col-md-3 col-sm-3" alt="Imagen 2">
                        <p class="col-lg-2 col-md-2 col-sm-2 offset-1" style="margin-left: auto; margin-right: auto;">Nº 36 <br>Octubre 2014</p>
                        <p class="col-lg-2 col-md-2 col-sm-2 offset-1" style="margin-left: auto; margin-right: auto;">Nº 35 <br>Junio 2014</p>
                        <p class="col-lg-2 col-md-2 col-sm-2 offset-1" style="margin-left: auto; margin-right: auto;">Nº 34 <br>Febrero 2014</p>
                        <p class="col-lg-2 col-md-2 col-sm-2 offset-1" style="margin-left: auto; margin-right: auto;">Nº 28 <br>Sempre Avant</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <img src="../../../assets/imgs/baden_powell/BP2.jpg" class="col-lg-3 col-md-3 col-sm-3" alt="Imagen 1">
                        <img src="../../../assets/imgs/baden_powell/BP2.jpg" class="col-lg-3 col-md-3 col-sm-3" alt="Imagen 2">
                        <img src="../../../assets/imgs/baden_powell/BP2.jpg" class="col-lg-3 col-md-3 col-sm-3" alt="Imagen 2">
                        <img src="../../../assets/imgs/baden_powell/BP2.jpg" class="col-lg-3 col-md-3 col-sm-3" alt="Imagen 2">
                        <p class="col-lg-2 col-md-2 col-sm-2 offset-1" style="margin-left: auto; margin-right: auto;">Nº 33 <br>Sempre Avant</p>
                        <p class="col-lg-2 col-md-2 col-sm-2 offset-1" style="margin-left: auto; margin-right: auto;">Nº 31 <br>Sempre Avant</p>
                        <p class="col-lg-2 col-md-2 col-sm-2 offset-1" style="margin-left: auto; margin-right: auto;">Nº 32 <br>Sempre Avant</p>
                        <p class="col-lg-2 col-md-2 col-sm-2 offset-1" style="margin-left: auto; margin-right: auto;">Nº 30 <br>Sempre Avant al día</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <img src="../../../assets/imgs/baden_powell/BP2.jpg" class="col-lg-3 col-md-3 col-sm-3" alt="Imagen 1">
                        <p class="col-lg-2 col-md-2 col-sm-2 offset-1" style="margin-left: auto; margin-right: auto;">Nº 29 <br>Sempre Avant al día</p>
                    </div>
                </div>
                
              </div>
          <button id="botAv" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
          </button>
          <button id="botDe" class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>



