
    <div class="container my-3">
        <!-- Nombre de la sección -->
        <div class="row">
            <div class=" col-md-12 sm-3 ">
                <div class="custom-container">
                    <h1>Esculta</h1>
                </div>

            </div>
        </div>



        <!-- Texto de la sección -->
        <div class="row my-3">
            <div class="col-12">
                <div class="custom-container">
                    Som l'Escolta, una secció formada per xics i xiques d'entre <b>15 i 18 anys</b>. Realitzems activitats a la
                    ciutat, acampades, excursions, viatges i projectes.
                    <p> agrada divertir-nos, eixir junts, perè també realitzem serveis per a ajudar als demés. Tractem
                    de combinar el pasar-ho be amb ser un eixemple de bons ciutadans per a la resta de scouts del Grup.</p>

                    <p><b>El projecte Escolta:</b></p>
                    <p>El projecte Escolta és la nostra forma de funcionar. Les activitats que fem son proposades,
                    definides i triades por nosaltres mateixos. No ens limitem a fer l'activitat, som ja capaços de
                    preparar-la. Així es preten que els escoltes aprenguen a fer activitats i a implicar-se en ser part
                    d'un equip de joves amb objectius comuns. Moltes de las habilitats adquirides pels escoltes en este
                    procès son aplicables a seua vida estudiantil, familiar...</p>

                    <p>El nostre lema - <b>ESCOLTA, SEMPRE UNIDA</b></p>

                </div>
            </div>
        </div>

    </div>