<div class="container-fluid">
  <div class="container my-3">
    <!-- Nombre de la sección -->
    <div class="row">
      <div class=" col-md-6 sm-3 ">
        <div class="custom-container h-100">
          <img class="custom-img" src="../../../assets/imgs/logos/logoesculta.png" alt="esculta">
          <h1>Esculta</h1>
        </div>
      </div>
      <div class="col-md-6">
        <div class="custom-container h-100">
          <h2>¿Qué es la Esculta?</h2>
          <p>Somos la Esculta, una sección formada por chicos y chicas de entre <b>15 y 18 años</b>. Realizamos
            actividades,
            acampadas, excursiones, viajes y proyectos.</p>
          <p>Nos gusta divertirnos, salir juntos, realizar servicios para ayudar a los demás. Tratamos de combinar
            el
            pasarlo bien con ser un ejemplo de buenos ciudadanos y para el resto de scouts del Grupo.</p>
        </div>
      </div>
    </div>

    <!-- Texto de la sección -->
    <div class="row my-3">
      <div class="col-12">
        <div class="custom-container">

          <h2>
            <p><b>El proyecto Esculta:</b></p>
          </h2>
          <p>El proyecto Esculta es nuestra forma de funcionar. Las actividades que hacemos son propuestas,
            definidas
            y elegidas por nosotros mismos. Nuestra actividad no se limita a la propia actividad, sino también a
            ser
            capaces de prepararla. De esta manera se pretende que los escultas aprendan a hacer actividades,
            pero
            también que ellos se impliquen en aprender a coordinar y ser parte de un equipo con un objetivo
            común.
            Muchas de las habilidades adquiridas por los escultas en este proceso son aplicables a su vida
            estudiantil, familiar...</p>

          <p>Nuestro lema - <b>ESCULTA, SIEMPRE UNIDA</b></p>
        </div>
      </div>
    </div>
    <div class="row my-3 ">
      <div class="col-12">
        <div class="p-3 border bg-light">
          <div id="carouselExampleControls" class="carousel slide col-lg-10 col-md-10 col-sm-10 offset-1">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../../../assets/imgs/scouts/esculta/esculta1.jpg" class="d-block h-100 w-100"
                  alt="foto del grupo de esculta">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/imgs/scouts/esculta/esculta2.jpg" class="d-block h-100 w-100"
                  alt="foto del grupo de esculta">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/imgs/scouts/esculta/esculta3.jpg" class="d-block h-100 w-100"
                  alt="foto del grupo de esculta">
              </div>
            </div>
            <button id="botAv" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">ANTERIOR</span>
            </button>
            <button id="botDe" class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">SIGUIENTE</span>
            </button>
          </div>
        </div>
      </div>

    </div>
   
  </div>
  <div class="row mt-3 mb-0" style="height: 1vh;">
    <div class="col-12">

    </div>

  </div>
</div>