<div class="container-fluid">
    <div class="card text-bg-light">
        <div class="card-body">
            <h1 class="titCard">Galería de audios</h1>
            <!--  -->
            <div class="row">

                @for (item of audios; track item) {

                    <div class="col-md-6 carta">
                        <div class="card">
                            <audio controls>
                                <source [src]=item.src type="audio/mpeg">
                            </audio>
                            <div class="card-body">
                                <h5 class="card-title">{{item.title}}</h5>
                            </div>
                        </div>
                    </div>
                    }

            </div>
        </div>
    </div>
</div>