.btn{
    background-color: #886ce4;
}

.btn:hover{
    background-color: #886ce4;
    background-color: #b86cdc;
    color: white;
}

.boton{
    background-color: #886ce4;
    overflow: hidden;
}

.boton:hover{
    background-color: #886ce4;
    background-color: #b86cdc;
    color: white;
}