<div class="container-fluid">
    <div class="container my-3">
        <!-- Nombre de la sección -->
        <div class="row">
            <div class=" col-md-12 sm-3 ">
                <div class="custom-container">
                    <h1>Scouters</h1>
                </div>

            </div>
        </div>

        <!-- Texto de la sección -->
        <div class="row my-3">
            <div class="col-12">
                <div class="custom-container">
                    <p>Robert Baden-Powell, fundador del Movimiento Scout, no utilizó el término "scouter" en el sentido
                        moderno, pero sí desarrolló el concepto de liderazgo adulto dentro del escultismo. En sus
                        escritos,
                        Baden-Powell enfatizó la importancia de los adultos en roles de liderazgo como facilitadores del
                        aprendizaje y la aventura para los jóvenes. Aunque el término "scouter" ha evolucionado, la
                        esencia de
                        lo que Baden-Powell describió sobre el liderazgo adulto en el escultismo se refiere a adultos
                        comprometidos en guiar y educar a los jóvenes, promoviendo el desarrollo de habilidades, el
                        carácter y
                        los valores a través de actividades prácticas y el juego.</p>

                    <p>Baden-Powell imaginaba a los líderes scout como personas que inspiran a los jóvenes a aprender
                        por sí
                        mismos, más que simplemente impartir conocimiento. En su libro <b>"Escultismo para
                            Muchachos"</b>, Baden-Powell
                        escribió sobre el papel de los adultos en el movimiento scout, destacando que deben actuar más
                        como
                        amigos y guías de los jóvenes, en lugar de instructores autoritarios. La idea era que, mediante
                        el
                        ejemplo y el liderazgo, los adultos podrían inculcar valores como la autosuficiencia, el honor,
                        la
                        lealtad y el respeto por los demás y por la naturaleza.</p>

                    <p>En resumen, aunque Baden-Powell no usó específicamente el término "scouter", su visión del
                        liderazgo
                        adulto en el escultismo encapsula la función de los scouters hoy en día: ser líderes, mentores y
                        modelos
                        a seguir que facilitan el crecimiento personal y el desarrollo de habilidades de los jóvenes a
                        través de
                        la metodología scout.</p>
                </div>
            </div>
        </div>
       
    </div>
    <div class="row mt-3 mb-0" style="height: 1vh;">
        <div class="col-12">

        </div>

    </div>
</div>