<div class="container-fluid">
    <div class="row">

        <div class="card text-bg-light">
            <div class="card-body">
                <h1 class="titCard">Baden Powell</h1>
                <h4 class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <p class="textoP col-lg-8 col-md-8 col-sm-8"><strong>Robert Stephenson Smith Lord Baden-Powell
                                of Gilwell</strong> conocido por las siglas B.P., nació en el <a class="linkS"
                                href="https://www.google.es/maps/@51.5123834,-0.1737249,3a,90y,316.04h,107.53t/data=!3m6!1e1!3m4!1siM_GRD8IIOnx2fMv5Lfp3Q!2e0!7i13312!8i6656"
                                target="#&quot;"> nº 6 de Stanhope Street (actual nº 11 de Stanhope Terrace) </a>, en el
                            barrio londinense de Paddington, el 22 de Febrero de 1857. Era el sexto varón, y el octavo
                            de los diez hijos del reverendo H.G. Baden-Powell, profesor en la universidad de Oxford. Su
                            madre era hija del almirante W. T. Smyth y nieta de Joseph Brewer, explorador de América. Su
                            padrino fue Robert Stephenson, hijo de George Stephenson, un pionero en el transporte por
                            ferrocarril. Baden Powell fue, por lo tanto, el descendiente de un religioso, por un lado y
                            de un aventurero colonizador del Nuevo Mundo, por el otro.
                        </p>
                        <img class="col-lg-4 col-md-4 col-sm-4" src="../../../assets/imgs/baden_powell/BP1.png"
                            alt="foto de baden Powell">
                    </div>
                </h4>

                <h1 class="titCard">BADEN POWELL DE NIÑO</h1>
                <h4 class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <p class="textoP col-lg-8 col-md-8 col-sm-8">B.P. quedó huerfano de padre a los tres años de
                            edad, quedando la familia sin demasiados recursos económicos. B.P. recibió sus primeras
                            enseñanzas escolares de su madre, y más adelante empezó a asistir a la escuela de <a
                                class="linkS" href="http://www.rosehillschool.co.uk/" target="#&quot;">Rose Hill</a>, en
                            Tunbridge Wells. A los trece años obtuvo una beca para estudiar en la escuela <a
                                class="linkS" href="http://www.charterhouse.org.uk/" target="#&quot;">Charterhouse</a>.
                            Al principio esta escuela estaba en Londres, pero en 1872, se trasladó al campo,
                            concretamente a Godalming, en Surrey.<br>
                            No fue un estudiante distinguido, ya que sus profesores descubren su facilidad para "dormir
                            en clase". Es un buen compañero y es el que más y mejores iniciativas aporta a la pandilla.
                            Siempre estaba deseando aprender algo nuevo. Tocaba el piano y el violín. Actuaba en obras
                            de teatro, haciendo cualquier tipo de personaje.

                        </p>
                        <img class="col-lg-4 col-md-4 col-sm-4" src="../../../assets/imgs/baden_powell/BP2.jpg"
                            alt="baden powell a africa">
                        <p class="col-lg-12 col-md-12 col-sm-12 textoP mt-3">El hecho de estar más cerca de la
                            naturaleza fue decisivo para su vida. Los lugares más frecuentes para sus juegos son los
                            bosques que están junto a la escuela. En Charterhouse fue donde empezó a desarrollar su
                            interés por la exploración y el conocimiento de los bosques. En los bosques de los
                            alrededores, B.P. se escondía de sus profesores, cazaba y cocinaba conejos, sin dejar que se
                            delatase su posición. Durante sus vacaciones tampoco perdía el tiempo. Siempre iba en busca
                            de aventuras con sus hermanos. En una ocasión, realizaron una salida en barca por la costa
                            sur inglesa. En otra ocasión, remontaron el Támesis en canoa hasta el nacimiento del río.
                            Tales aventuras al aire libre ciertamente no eran frecuentes entre los jóvenes de aquella
                            época. Las técnicas y artes que aprendió le fueron de mucha utilidad en su vida posterior.
                            En resumen, vivió una adolescencia privilegiada, siempre al aire libre, en compañía de sus
                            hermanos, recorriendo y acampando con ellos en muchos lugares de Inglaterra.</p>
                    </div>
                </h4>

                <h1 class="titCard">Carrera militar</h1>
                <h4 class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <p class="col-lg-8 col-md-8 col-sm-8 textoP">Al finalizar su educación, ya en 1876, se presentó
                            a unas pruebas para entrar en el ejército y sacó el segundo puesto para Caballería entre
                            cientos de aspirantes. Enseguida se le destinó a la India, sin tener que pasar por los
                            cursos de entrenamiento oficiales, como subteniente del 13º Regimiento de Húsares, del cuál
                            más adelante sería nombrado Coronel de Honor.
                        </p>
                        <img class="col-lg-4 col-md-4 col-sm-4" src="../../../assets/imgs/baden_powell/BP3.jpg"
                            alt="foto de una platja de anglaterra">
                        <p class="col-lg-8 col-md-8 col-sm-8 textoP">Entre sus labores como un joven oficial
                            especializado en la exploración, elaboración de mapas y reconocimiento del terreno, estaba
                            la formación de otros soldados para tales labores. Los métodos de B.P. no eran ortodoxos
                            para aquellos tiempos: dividía a la tropa a su cargo en pequeñas unidades, a las que llamaba
                            patrullas. Estas patrullas trabajaban juntas bajo la dirección de un guía, que era el
                            soldado más preparado de la misma. Al finalizar una tarea se premiaba a aquellos soldados o
                            patrullas que lo hicieran bien. Las insignias con las que B.P. recompensaba la destreza de
                            sus pupilos recordaban el símbolo tradicional del punto norte en la brújula, una flor de lys
                            muy parecida al actual emblema scout mundial. En 1883 es ascendido a capitán, a la edad de
                            26 años. <br> Durante los siguientes años le destinaron a los Balcanes, Sudáfrica y Malta.
                            En 1889 recibe el mando del 5º Regimiento de Dragones, con guarnición en Merut (India).
                            Sirviendo en este destacamento escribe un libro titulado "Aids to Scouting" ("Guía para
                            explorar"). En este libro detalla su método de formación para jóvenes soldados y
                            exploradores.</p>
                        <img class="col-lg-4 col-md-4 col-sm-4" src="../../../assets/imgs/baden_powell/BP4.jpg"
                            alt="foto del llibre del escoltisme per als xics">
                    </div>
                </h4>

                <h1 class="titCard">EL SITIO DE MAFEKING</h1>
                <h4 class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <p class="textoP col-lg-8 col-md-8 col-sm-8">Diez años después (1899) es destinado otra vez a
                            África para ayudar a defender la ciudad de Mafeking, asediada por los boers. Mafeking era
                            una pequeña plaza fuerte británica que había quedado aislada, rodeada de numerosos
                            atacantes. Durante los 217 días que duró el sitio, Baden-Powell se vió obligado a pedir y
                            confiar servicios a los jóvenes de Mafeking. La valentía y los recursos mostrados por los
                            niños del cuerpo de mensajeros de Mafeking dejaron una profunda impresión en él. Las hazañas
                            de B.P. llegan a Inglaterra cuando tras la heroica resistencia de Mafeking, los refuerzos de
                            los coroneles Plumer y Mahon liberan la ciudad en mayo de 1900. Baden-Powell es ascendido al
                            grado de General Mayor y convertido en Héroe del Imperio Británico.
                        </p>
                        <img class="col-lg-4 col-md-4 col-sm-4" src="../../../assets/imgs/baden_powell/BP5.jpg"
                            alt="foto de la boda de baden powell amb miss olave saint-clair soames">
                    </div>
                </h4>

                <h1 class="titCard">REGRESO A INGLATERRA</h1>
                <h4 class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <p class="textoP col-lg-8 col-md-8 col-sm-8">Al volver a Inglaterra en 1903 se había convertido
                            en un héroe nacional, pero descubre con sorpresa que el libro que escribió en Merut,
                            dedicado a la formación castrense, era usado como libro de lectura por los profesores de
                            todo el país para estimular la observación y las habilidades en la naturaleza de los
                            estudiantes. Y lo que es más, los dirigentes de las Brigadas Juveniles Católicas lo utilizan
                            como medio e instrumento educativo de sus jóvenes. Baden-Powell se entrevista con el Jefe
                            Nacional de dichas brigadas, Sir William Smith, con el fin de hacerle ver que su libro no
                            fue escrito para ser un sistema educativo para muchachos, a lo que el jefe de las brigadas
                            le respondió: "Pues bien, acéptelo en realidad así". A raíz de esta entrevista, y por
                            sugerencia del propio Sir William Smith, Baden Powell piensa en escribir un libro más
                            apropiado para los muchachos, que les enseñe a ser fuertes, valerse por sí mismos, poder
                            estar listos para servir a los demás, y forjar así ciudadanos responsables y libres.
                        </p>
                        <img class="col-lg-4 col-md-4 col-sm-4" src="../../../assets/imgs/baden_powell/BP6.gif"
                            alt="foto de baden powell a kenya">
                    </div>
                </h4>

                <h1 class="titCard">BROWNSEA Y ESCULTISMO PARA MUCHACHOS</h1>
                <h4 class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <p class="textoP col-lg-12 col-md-12 col-sm-12">El año 1905 se pone manos a la obra y después de
                            repetidas entrevistas con pedagogos y cambios de impresiones con dirigentes de asociaciones
                            juveniles, se decide a poner en práctica de forma experimental su método para muchachos. En
                            el verano de 1907, desde los días 1 al 8 de agosto, llevo con él a un grupo de entre veinte
                            y veinticinco muchachos (solo se conserva información de 20 asistentes) a la isla de
                            Brownsea, en el Canal de la Mancha. Los muchachos provenían de distintas clases sociales y
                            fueron divididos en 4 patrullas, cada una de las cuales tenia un guía. Además de B.P., al
                            campamento asistieron otros 3 adultos. Este <a class="linkS"
                                href="http://wiki.larocadelconsejo.net/?title=Brownsea" target="#&quot;">campament en
                                Brownsea</a> será considerado el acto fundacional del Escultismo o Movimiento Scout.</p>

                        <p class="textoP col-lg-12 col-md-12 col-sm-12">
                            El campamento fue un gran éxito, tan rotundo que Baden Powell decide añadir sus experiencias
                            en este campamento al libro que estaba escribiendo. Finalmente en 1908 publica "Scouting for
                            boys" ("Escultismo para Muchachos"). Este libro se publica en seis fascículos quincenales,
                            llamadas fogatas. La demanda fue tan grande que en el mismo año se editó como un libro
                            completo. Las ventas del libro fueron muy importantes y al final de 1908 ya se había
                            traducido a 5 idiomas.
                        </p>

                        <p class="textoP col-lg-12 col-md-12 col-sm-12">
                            La popularidad de B.P. entre los jóvenes suscitó un interés en la sociedad inglesa. Aún
                            antes de aparecer en las vitrinas de las librerías y en los puestos de revistas, de forma
                            espontánea, grupos de chicos se unieron formando patrullas scouts para poner en práctica las
                            ideas propuestas por Baden Powell. Lo que se había pensado para el adiestramiento de
                            organizaciones ya existentes (las Brigadas Juveniles y Y.M.C.A. fundamentalmente) se
                            convirtió finalmente en el manual de un nuevo movimiento mundial.
                        </p>
                    </div>
                </h4>

                <h1 class="titCard">B.P. Y LA DIFUSION DEL ESCULTISMO</h1>
                <h4 class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <p class="textoP col-lg-12 col-md-12 col-sm-12">En Septiembre de 1908, B.P. abrió una oficina
                            para atender el enorme número de preguntas que le llegaban desde patrullas o tropas que iban
                            apareciendo por el país. Al año siguiente, en 1909, se organiza la primera exhibición de
                            scouts en el Crystal Palace de Londrés. A la cita acuden 11.000 scouts de toda Inglaterra.
                            Varias chicas asistieron a esta reunión solicitando a B.P. ser parte del Escultismo. Surge
                            entonces el Guidismo, cuyo sistema de trabajo idearía el propio Baden-Powell junto a su
                            hermana Agnes.
                        </p>

                        <p class="textoP col-lg-12 col-md-12 col-sm-12">El escultismo se extendió rápidamente por el
                            Imperio Británico. B.P., que hasta entonces había compartido sus obligaciones militares con
                            las de animación del naciente escultismo, se vio forzado a elegir. En 1910, a los 53 años,
                            aconsejado por el rey Eduardo VII, Baden Powell se dio cuenta de que el Escultismo iba a ser
                            su obra. Reconoció que podía hacer más por su patria educando a las generaciones futuras,
                            para que sus componentes se convirtieran en buenos ciudadanos, que entrenando a hombres para
                            convertirlos en buenos soldados. Y por tanto, renunció a su puesto en el ejército donde ya
                            ostentaba el grado de Teniente General.
                        </p>

                        <p class="textoP col-lg-12 col-md-12 col-sm-12">En 1912, B.P. se casa con Miss Olave Saint-Clair
                            Soames. Ella fue una constante ayuda y compañía en su trabajo. Tuvieron tres hijos (Peter,
                            Heather y Betty). En ese mismo año, Baden Powell hizo un viaje alrededor del mundo para
                            conocer a los scouts de muchos países y para fomentar la creación del Movimiento Scout en
                            otros tantos. Eran los principios de la <strong>Hermandad Mundial Scout.</strong>
                        </p>

                        <p class="textoP col-lg-12 col-md-12 col-sm-12">La Primera Guerra Mundial pudo haber detenido el
                            Movimiento, pero la formación recibida a través del sistema de patrullas probó su valía. Los
                            guías de patrulla se hicieron cargo de sus scouts cuando los adultos se fueron al servicio
                            activo. Los scouts contribuyeron de muchas maneras en el esfuerzo de la guerra. Lo más
                            notable quizás fueron los servicios que los scouts marinos hicieron como guardacostas. En
                            este tiempo se le presenta a B.P. un problema: ¿Qué hacer con los hermanos pequeños de los
                            scouts, que les acompañan con gran entusiasmo en muchas de sus actividades? La respuesta a
                            esta pregunta fue la creación, en 1916, de la Manada, la rama de los lobatos, ambientada en
                            el "Libro de las Tierras Vírgenes", de Rudyard Kipling, y la publicación del "Manual del
                            Lobato". Posteriormente B.P. observará tambien que algunos muchachos sienten abandonar la
                            tropa scout al cumplir sus diecisiete años, por lo que sagazmente crearía, en 1922, una
                            etapa especial para jóvenes llamada Roverismo, escribiendo para éstos su obra "Roverismo
                            hacia el éxito". De esta manera, el Movimiento Scout se presenta como una completa
                            organización educativa para la juventud.
                        </p>
                    </div>
                </h4>

                <h1 class="titCard">BADEN POWELL, JEFE SCOUT MUNDIAL</h1>
                <h4 class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <p class="textoP col-lg-12 col-md-12 col-sm-12">
                            En 1920 los Scouts de todo el mundo se congregaron en Londres en la primera reunión
                            internacional; el primer "Jamboree Mundial". La última noche de este Jamboree, el 6 de
                            agosto, B-P fue proclamado Jefe Scout Mundial por una entusiasta multitud de muchachos. Se
                            celebraron diversos Jamborees, en 1924 en Dinamarca, en 1929 en Inglaterra, en 1933 en
                            Hungría, en 1937 en Holanda; en cada uno de estos Jamborees, Baden Powell era la figura
                            central, saludado por sus muchachos donde quiera que lo veían. Pero los Jamborees solo
                            constituyen parte del esfuerzo para constituir la Hermandad Scout Mundial. Baden Powell
                            viajaba incesantemente en pro del escultismo, que existía en casi todos los paises no
                            totalitarios del mundo, y sostenía correspondencia con sus jefes en numerosos países y
                            continuaba escribiendo sobre temas scouts.
                        </p>
                    </div>
                </h4>

                <h1 class="titCard">LOS ÚLTIMOS AÑOS</h1>
                <h4 class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <p class="textoP col-lg-12 col-md-12 col-sm-12">
                            Cuando finalmente cumplió la edad de 80 años, sus fuerzas comenzaron a declinar. Regresó a
                            su amada África junto a su esposa, Lady Baden Powell, quien había sido su colaboradora en
                            todos sus esfuerzos y quien además, era la Jefe Mundial de las Guias (muchachas scouts). Se
                            establecieron en Kenia, en un lugar tranquilo con una hermosa perspectiva de millas de
                            bosque que conducen a montañas de picos nevados. Ahí falleció Baden Powell el 8 de enero de
                            1941, un poco antes de cumplir sus ochenta y cuatro años. En su tumba se señalo el símbolo
                            de final de pista, como firma de una misión cumplida en favor de la nueva juventud de todo
                            el mundo.
                        </p>
                    </div>
                </h4>

            </div>
        </div>

    </div>

</div>