
img{
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 300px;
}

/* Estilos Generales */
.container-fluid {
    background-color: #f4eaff; /* Un fondo suave y acorde al tema */
    padding: 20px;
}

.card {
    background-color: #ffffff; /* Fondo claro para las tarjetas */
    border-radius: 10px; /* Esquinas ligeramente redondeadas */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil para dar profundidad */
    margin-bottom: 20px; /* Espacio entre las tarjetas */
}

.card-body {
    padding: 20px; /* Espacio interior para separar el contenido de los bordes */
}

/* Estilos para los títulos */
.titCard {
    color: #5d3f6a; /* Color que complementa el fondo suave */
    margin-bottom: 15px; /* Separación después del título */
}

/* Estilos para los párrafos y enlaces */
.textoP {
    color: #333; /* Color oscuro para mejorar la legibilidad */
    text-align: justify; /* Alineación del texto para una lectura cómoda */
    line-height: 1.6; /* Espaciado entre líneas para facilitar la lectura */
}

.linkS {
    color: #885ead; /* Un morado más intenso para los enlaces, haciendo contraste */
    text-decoration: underline; /* Subrayado para indicar que es clickeable */
}

.linkS:hover {
    color: #553285; /* Color más oscuro al pasar el mouse para indicar interacción */
}

/* Ajustes para imágenes */


/* Media queries para responsividad */
@media (max-width: 768px) {
    .textoP, .titCard {
        font-size: smaller; /* Ajusta el tamaño de la fuente para pantallas pequeñas */
    }
}

a{
    text-decoration: none;
    color: black;
}
