<div class="container-fluid">
    <div class="card text-bg-light">
        <div class="card-body">
            <h1 class="titCard">Galería de videos</h1>
            <!--  -->
            <div class="row">
                @for (item of videos; track item) {
                <!-- <p> {{ item.src }} </p>
                <p> {{ item.surname }} </p> -->

                <div class="col-md-6">
                    <div class="card">
                        <iframe [src]=item.src width="600"
                            height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture"
                            allowfullscreen></iframe>
                        <div class="card-body">
                            <h5 class="card-title">{{item.text}}</h5>
                            <p class="card-text">mierda</p>
                        </div>
                    </div>
                </div>
                }
                <div class="col-md-6">
                    <div class="card">
                        <iframe src="https://player.vimeo.com/video/192666298?h=08a326b4b0" width="600" height="360"
                            frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                        <div class="card-body">
                            <h5 class="card-title">MannequinChallenge</h5>
                            <p class="card-text">Hecho por la tropa, la esculta y el clan en la excursión a Santo
                                Espiritu, en noviembre de 2016.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>