<!-- <div class="container">
    <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Primary card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
</div> -->

<div class="container-fluid">
    <div class="card text-bg-light">
        <div class="card-body">
            <h1 class="titCard">Galería de videos</h1>
            <div class="row">
                <div class="col-md-6">
                    <iframe  width="560" height="315" src="https://www.youtube.com/embed/5vaPMjUtlmk?si=L_-dDDq1_8pb4a0F" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>