<div class="container my-3">
    <!-- Nombre de la sección -->
    <div class="row">
        <div class=" col-md-12 sm-3 ">
            <div class="custom-container">
                <h1>Manada</h1><img src="../../../assets/imgs/logos/logomanada.png" alt="lobatos">
                <!-- el radius esta en css -->
            </div>
        </div>
    </div>

    <!-- Texto de la sección -->
    <div class="row my-3">
        <div class="col-12">
            <div class="custom-container2">
                <h2>¿Quiénes somos?</h2>
                <p>La Manada es la sección de los niños desde los <b>8 a los 11 años</b>. Nuestra metodología está
                    basada en
                    el "Libro de las Tierras Vírgenes", de Rudyard Kipling. </p>
                <p>Los niños juegan a ser los lobatos de la
                    manada de lobos en la que se integra Mowgli, el cachorro humano. Dirigidos por Akela, el jefe de la
                    Manada, y otros personajes como Baloo, Bagheera o Kaa, los ñiños se preparan jugando para aprender
                    la Ley de la Selva y poder formar parte de la Manada.</p>

                <h2>¿Qué actividades hacemos?</h2>
                Nos reunimos en nuestro cubil todos los sábados, de 10h a 13h y de ahí vamos a algún parque a jugar.
                En nuestra reunión hacemos juegos, talleres, danzas, canciones... 
                <p>Pero lo mejor es que una vez al
                mes salimos de excursión o acampada. Además de los campamentos de verano y pascua.</p>

                <h2>¿Qué aprendemos?</h2>
                Los lobatos siempre aprenden a través del juego. Todo lobato aprende unos hábitos saludables:
                mantener limpia la piel del lobo (el uniforme, su ropa), vivir en seisenas, pequeños grupos de seis
                lobatos. Cada lobato puede desarrollar sus habilidades y obtener insignias. Conforme crece cada
                lobato va tomando un papel más protagonista en la vida de la Manada.

                <h2>¿Cómo jugamos?</h2>
                Nuestra Manada está compuesta por muchos lobatos. La vida en la Manada tiene unos signos de
                identidad como un lema (<b>HACER LO MEJOR</b>), un símbolo (<b>TÓTEM</b>) y un saludo. A su vez la Manada se rigen
                por unas Leyes y por las Máximas. Los lobatos que las entienden y quieren jugar formulan un
                compromiso: la promesa del lobato. nos dividimos en seisenas y nos sentimos unidos a través del Gran
                Clamor... Y, al final nos iremos de la Manada pasando a la sección de Tropa.
            </div>
        </div>
    </div>

    <!-- Imagen principal -->
    <div class="row my-3">
        <div class="col-12">
            <div class="p-3 border bg-light">Imagen sección</div>
        </div>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</div>