.textoLinks{
    padding: 10px;
}

.fondo{
    background-color: #A387D1;
    
}

iframe{
    width: 80%;
    height: 100%;
    border: none;
}

.mapa{
    width: 100%;
}

a{
    font-size: 30px;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    font-size: 32px;
}

h5{
    margin-top: 5px;
    font-size: 30px;
}

.small{
   font-size: 18px;
   color: white;
}

.small:hover{
    font-size: 20px;
}